%p
  <strong>Final Disposition Updates</strong> are designed to help track the lifecycle of an asset, specifically its final disposition.
%p
  During an asset’s service life, it is possible that the asset might be sold, reprovisioned, traded in, or transferred.  This form will record the relevant information and set-off any subsequent actions that are required to complete the disposition.
%p 
  When a final disposition is recorded, the update will immediately take place and is viewable on the asset’s timeline. Since this update marks the end of the assets lifecycle for the given agency, the user cannot record any future updates (mileage, condition, etc.) on the asset.
%p 
  If the ownership of an asset is transferred, it is marked as “Disposition Type – Transferred.” The Transferring agency selects the receiving agency from a list. The Receiving agency accepts the transfer, at which point, all asset data is copied to the receiving agency.