%p
  <strong>Disposition Updates</strong> are designed to help track the lifecycle of an asset, specifically its final disposition.
%p
  During the asset's service life, if it is sold, reprovisioned, traded in or transferred, the relevant information will need to be recorded here.
%p
  Every time a disposition update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
