%p
  <strong>Early Disposition Requests</strong> are designed to help track the lifecycle of an asset, specifically its final disposition.
%p 
  During an asset’s service life, it is possible that the asset might be sold, reprovisioned, traded in, or transferred.  This form places a request to make an early disposition.
%p 
  When an early disposition request is made on an asset before its Estimated Service Life (ESL), a reason and associated documentation are required before performing the final disposition. PennDOT is tasked with reviewing the request and deciding whether to Approve, Reject, or Approve via Transfer. Depending on the type of approval, either the transit agency or PennDOT will record final disposition details.