<div class="row-fluid">
	<div class="span12">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li>
						<%= link_to :back do %> 
							<i class="icon-angle-left"></i> Back
						<% end %>s
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
