%p
  <strong>Location Updates</strong> are designed to help track the physical storage location of an asset.
%p
  During the asset's service life, its location can be recorded here as frequently as is required.
%p
  Every time a location update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and the location link (located on the individual asset's page) will reflect the changes automatically.
