%p
  <strong>Maintenance Provider Updates</strong> are designed to help track the lifecycle of an asset, specifically the service providers that will help to maintain assets.
%p
  During the asset's service life, if this provider changes, the relevant information can need to be recorded here.
%p
  Every time a maintenance update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
