= format_field("Maintenance Provider Type", @asset_event.maintenance_provider_type)
= format_field("Reported On", format_as_date(@asset_event.event_date))
= format_field("Comments", @asset_event.comments.html_safe) unless @asset_event.comments.blank?
