%p
  %strong
    Rehabilitation Updates
  are designed to help track the lifecycle of an asset, specifically the cost and impact of a dedicated rehabilitation
%p During an asset's lifetime, if, for example, a vehicle is overhauled or a building is significantly improved, the relevant information can be recorded here.
%p Every time a rehabilitation update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
%p If your extended useful months or miles is greater than 0, your policy replacement year will be updated to reflect this extension and your scheduled replacement year will be set to match the updated policy replacement year.