= format_field("Rehabilitation Year", format_as_fiscal_year(@asset_event.rebuild_year))
= format_field("Reported On", format_as_date(@asset_event.event_date))
= format_field("Comments", @asset_event.comments.html_safe) unless @asset_event.comments.blank?
