%p
  <strong>Service Status Updates</strong> are designed to help track the lifecycle of an asset, specifically any changes to the asset's service that may occur in the course of its useful life.
%p
  During the asset's service life, if it is leased, starts operations, or is taken out of service, for example, the relevant information will need to be recorded here.
%p
  Every time a service status update is recorded against the asset, the report will be viewable by system users on the asset's timeline, and relevant values for the asset will be recalculated automatically.
