<%= sub_nav_tag({}) do %>
    <li><%= link_to inventory_asset_events_path(@asset) do %>
  			<i class="fa fa-angle-left"></i> Back
  		<% end %>
  	</li>
  	<% if @asset_event && ! @asset_event.new_record? %>
	<li class="divider-vertical"></li>
    <li><%= link_to edit_inventory_asset_event_path(@asset, @asset_event) do %>
  			<i class="fa fa-edit"></i> Update 
  		<% end %>
  	</li>
	<li class="divider-vertical"></li>
    <li><%= link_to inventory_asset_event_path(@asset, @asset_event), :method => :delete, :confirm => "Are you sure you want to remove this event?" do %>
			<i class="fa fa-remove"></i> Remove
		<% end %>
  	</li>
  	
  	<% end %>  		
<% end %>
