= simple_form_for([@asset, @asset_event],
    :as => :asset_event,
    :url => @asset_event.new_record? ? inventory_asset_events_path(@asset) : inventory_asset_event_path(@asset, @asset_event),
    :method => @asset_event.new_record? ? 'post' : 'put',
    :html => {:class => 'form-vertical', :id => "new_asset_event_form" },
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
  = hidden_field_tag :event_type, @asset_event.asset_event_type.id
  = yield f # The event-specific form gets injected here

:javascript
  $('#new_asset_event_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });
  // Must place after the input-group instead of default (adjacent to input)
  $.validator.setDefaults({errorPlacement: function(error, element) {
        if(element.parents('.input-group').length) {
            error.insertAfter(element.parents('.input-group'));
        } else {
            error.insertAfter(element);
        }
    }});