<div class="row">
	<div class="col-md-12">
		<frameset>
			<legend>Message</legend>
			<ul class="media-list">
				<li class="media">
					<%= render(:partial => 'message_detail', :locals => {:message => @message}) %>
				</li>
			</ul>
		</frameset>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= render 'response_form' %>
	</div
</div>
