= simple_form_for([current_user, @response]) do |f|
  = hidden_field_tag :message_id, @message.id
  %h5 Reply

  = f.input :body, :label => false, :placeholder => "Enter your reply...", :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}}

  = f.button :submit, 'Send Reply', :class => "btn btn-primary", :style => "margin-top:10px;"
