<div class="row">
	<div class="col-md-12">
		<div class="col-md-3">
			<%= render 'sidebar' %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<frameset>
						<legend><%= "Found #{pluralize(@messages.count, 'message')}"%></legend>
						<%= render 'index_list' %>
					</frameset>
				</div>
			</div>
			<div class="col-md-12 first-in-row" style="padding-top:30px;">
				<div id="message_panel"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

		$("#datatable").dataTable( {
			"bFilter" : false,
			"bLengthChange" : false,
			"bProcessing" : true,
			"sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
			"sPaginationType": "bootstrap",
			"oLanguage": {
				"sLengthMenu": "_MENU_ records per page"
			},
			"fnDrawCallback": function( oSettings ) {
	      		transam.install_quick_link_handlers();
	    	}		
		} );		

	
	function load_message(elem) {
		var url = $(elem).data('url');
    	transam.load_ajax_panel('message_panel', url, "get", "<%= raw loader_panel_tag() %>");
	}
</script>
