<%= render 'message_subnav' %>

<div class="row-fluid">
	<div class="span8 offset2">
		<ul class="media-list">
			<li class="media">
				<%= render(:partial => 'message_detail', :locals => {:message => @message}) %>
			</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span8 offset2">
		<%= render 'response_form' %>
	</div
</div>
