.row
  .col-lg-8.col-md-8.col-sm-10.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-1
    =render 'message'

:javascript

  var tag_url = '#{tag_user_message_path(current_user, @message) + ".js"}';

  $(document).ready(function() {
    // Register a click-handler for the taggable class
    $('.taggable').on('click', function() {
      var elem = $(this);
      var order = elem.data('id');
      // Toggle the class
      if (elem.hasClass('fa-star-o')) {
        // Tag this
        elem.removeClass('fa-star-o');
        elem.addClass('fa-star');
      } else {
        // Untag this
        elem.removeClass('fa-star');
        elem.addClass('fa-star-o');
      }
      // Send an ajax request to make the change
      $.ajax({
        url: tag_url,
        type: 'get',
        success: function(result) {
        },
        error: function (xhr, ajaxOptions, thrownError) {
        }
      });
    });
  });
