<%= sub_nav_tag({}) do %>
    <li>
		<%= link_to inventory_notes_path(@asset) do %> 
		<i class="fa fa-angle-left"></i> Back
		<% end %>
  	</li>
  	<% if @note && ! @note.new_record? %>
	<li class="divider-vertical"></li>
    <li><%= link_to edit_inventory_note_path(@asset, @note) do %>
  			<i class="fa fa-edit"></i> Update 
  		<% end %>
  	</li>
	<li class="divider-vertical"></li>
    <li><%= link_to inventory_note_path(@asset, @note), :method => :delete, :data => {:confirm => "Are you sure you want to remove this note?"} do %>
			<i class="fa fa-times"></i> Remove
		<% end %>
  	</li>
  	
  	<% end %>  		
<% end %>
