app/helpers/doc/*
**.orig
**.sqlite3
*.rbc
*.sassc
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/log/*
/public/system/*
spec/dummy/log/*
spec/dummy/tmp/*
spec/log/*
spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/initializers/secret_token.rb
Gemfile.lock
pickle-email-*.html
rerun.txt
.DS_Store
*.idea

TAGS

*.axlsx~

shadowed_views.log
*.rb~
*.haml~
*.erb~
