*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
/spec/log/*
spec/dummy/log/*
spec/dummy/tmp/*
Gemfile.lock
**.orig
**.sqlite3
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
