language: ruby
rvm:
- 2.1.3
branches:
  only:
  - master
env:
- TEST_SUITE=rspec RAILS_VERSION=4.1.9
- TEST_SUITE=cucumber RAILS_VERSION=4.1.9
script:
- bundle exec rake app:transam_core:prepare_rspec
- bundle exec $TEST_SUITE
before_script:
- cp spec/dummy/config/database.travis.yml spec/dummy/config/database.yml
before_install:
- mysql -e "create database IF NOT EXISTS transam_core_testing;" -uroot
- openssl aes-256-cbc -K $encrypted_8b7ffff52cb7_key -iv $encrypted_8b7ffff52cb7_iv -in spec/dummy/db/schema.rb.enc -out spec/dummy/db/schema.rb -d
