= format_field("Start Display", @notice.display_datetime.strftime("%b %d, %Y %l:%M%p"))
= format_field("Stop Display", @notice.end_datetime.strftime("%b %d, %Y %l:%M%p"))
= format_field("Organization", @notice.organization || "All")