= format_field("Start Display", format_as_date_time(@notice.display_datetime))
= format_field("Stop Display", format_as_date_time(@notice.end_datetime))
= format_field("Organization", @notice.organization || "All")
