.row
  .col-md-12
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-3
            %h3.panel-title
              %i.fa.fa-list
              Notices
          .col-md-9
            = render 'index_actions'
      .panel-body
        - if @notices.empty?
          %p No matching notices found
        - else
          .col-md-6.col-md-offset-3                
            %ul.list-group
              - @notices.each do |n|
                = render :partial => "dashboards/notice_repeater", :locals => {:notice => n}

= render 'index_scripts'
