= format_field("Name", asset_group.name )
= format_field("Code", asset_group.code )
= format_field("Asset Count", format_as_integer(asset_group.assets.count))
= format_field("Description", asset_group.description )
