<h1>Message from <%= @message.user.name %></h1>
<p>
  The following message was sent to you via TransAM.<br/>
</p>
<p>
	<%= @message.body.html_safe %>
</p>
<p>You can check the message by clicking on the link below or copying it into a browser.</p>
<p>
	<a href='<%= user_message_url(@message.to_user, @message) %>'><%= @message.subject %></a>
</p>
<p><br/><br/</p>
