%h1
  Message from #{@message.user.name}
%p
  The following message was sent to you via TransAM.
  %br/
%p
  = @message.body.html_safe
%p You can check the message by clicking on the link below or copying it into a browser.
%p
  = link_to user_message_url(@message.to_user, @message) do
    = @message.subject