%h1 New User Confirmation
%p
  A new user account has been created for you in TransAM
%p= "Your username: #{@user.email}"
%p= "Please go to #{new_user_password_url} and follow the instructions to reset your password."
