
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	<p>
 		<%= link_to "Forgot your password?", new_user_password_path %><br />
	</p>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	<p>
		<%= link_to "Didn't receive unlock instructions?", new_user_unlock_path %><br />
	</p>
<% end -%>
