.row
  .col-xs-12.text-center{:style => 'min-height: 300px;padding:20px;'}
    %i.fa.fa-thumbs-up.fa-4x
    %h4
      = "Thank you #{current_user.first_name} for helping make TransAM better!"
    %p
      Your issue report has been received and will be reviewed by a product manager.
    %p
      If necessary someone will contact you to discuss your issue.
