%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      Description 
  %li
    %a{:href => "#comm", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @task.comments.count
      = "Comments"

.tab-content
  .tab-pane.fade#desc
    .tab-content
      %p= @task.body.html_safe
  .tab-pane.fade#comm
    .tab-content
      = render 'comments'
