<%= sub_nav_tag({}) do %>
  <% if @task.nil? || @task.new_record? %>
    <li>
      <%= link_to user_tasks_path(current_user) do %> 
        <i class="fa fa-angle-left"></i> Back
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to user_task_path(current_user, @task) do %> 
        <i class="fa fa-angle-left"></i> Back
      <% end %>
    </li>
  <% end %>
<% end %>
