<div class="row-fluid">
	<div class="span12">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li>
						<%= link_to new_user_task_path(current_user) do %>
						<i class="fa fa-edit"></i> New Task
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
