.row
  .col-md-4
    = render :partial => 'task_list_swimlane', :locals => {:title => "My Tasks", :tasks => tasks.where('assigned_to_user_id = ?', current_user.id) }
  .col-md-4
    = render :partial => 'task_list_swimlane', :locals => {:title => "Tasks Assigned to Others", :tasks => tasks.where('assigned_to_user_id <> ? AND assigned_to_user_id IS NOT NULL', current_user.id) }
  .col-md-4
    = render :partial => 'task_list_swimlane', :locals => {:title => "Unassigned Tasks", :tasks => tasks.where('assigned_to_user_id IS NULL') }
