
<%= render 'index_subnav' %>

<div class="row-fluid">
	<div class="span3">
		<%= render 'sidebar' %>
	</div>
	<div class="span9">
		<div class="row-fluid">
			<div class="span12">
				<div id='calendar'></div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

  var events_url = '<%= filter_user_tasks_path(current_user.id) %>';
  var filter = <%= @filter.nil? ? 0 : @filter %>;
  
  $(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
      weekMode: 'variable',
      weekends: false,
      events: {
        url: events_url,
        data: {
        	filter: filter
        },
        error: function() {
            alert('there was an error while fetching events!');
        }
      }      
    });
  });

</script>

