// import the CSS framework
/* bootstrap custom configuration */

//@import "_variables";

// Grays
// -------------------------

$gray-base:              #000 !default;
$gray-darker:            #414141 !default;
$gray-dark:              #8a8a8a !default;
$gray:                   #969696 !default;
$gray-light:             #a7a7a7 !default;
$gray-lighter:           #e9e9e9 !default;
//$gray-darker:            #2d2d2d;
//$gray-dark:              lighten(#000, 20%);   // #333
//$gray:                   #666;
//$gray-light:             lighten(#000, 60%);   // #999
//$gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

$application-primary:       #17406E;
$application-background:    #F5F5F5;
$application-light:         #F1F4F6;

$application-highlight:     #EBFFFF;
$application-selected:      #DDE4E9;

$brand-primary: $application-primary;
//$brand-primary:         #446E9B;
$brand-success:         #3CB521;
$brand-warning:         #D47500;
$brand-danger:          #CD0200;
$brand-info:            #3399F3;

// Default Bootstrap colors
$bootstrap-primary:         #428bca;
//$brand-success:         #5cb85c;
//$brand-warning:         #f0ad4e;
//$brand-danger:          #d9534f;
//$brand-info:            #5bc0de;

// Text decorator colors
$state-success-text:      #3CB521;
$state-info-text:         #3399F3;
$state-warning-text:      #D47500;
$state-danger-text:       #CD0200;

// Scaffolding
// -------------------------

$dropdown-link-color:   $application-primary;
$table-bg-accent:       $application-background;

//$body-bg:               #fff;
//$text-color:            $gray;
$text-color:            $application-primary;
// Links
// -------------------------

$link-color:            $bootstrap-primary;
$link-hover-color:      darken($link-color, 15%);

// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                    48px;
//$navbar-margin-bottom:             $line-height-computed;
//$navbar-default-color:             #777;
$navbar-default-bg:                $application-light;
//$navbar-default-border:            darken($navbar-default-bg, 6.5%);
//$navbar-border-radius:             $border-radius-base;
//$navbar-padding-horizontal:        floor($grid-gutter-width / 2);  // ~15px
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);

// Navbar links
$navbar-default-link-color:                $application-primary;
$navbar-default-link-hover-color:          #8BA0B6;
//$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $navbar-default-link-hover-color;
//$navbar-default-link-active-bg:            transparent;
//$navbar-default-link-disabled-color:       #444;
//$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
//$navbar-default-brand-color:               $navbar-default-link-color;
//$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
//$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
//$navbar-default-toggle-hover-bg:           darken($navbar-default-bg, 6.5%);
//$navbar-default-toggle-icon-bar-bg:        #ccc;
//$navbar-default-toggle-border-color:       darken($navbar-default-bg, 6.5%);


// Inverted navbar
//
// Reset inverted navbar basics
//$navbar-inverse-color:                      #ddd;
//$navbar-inverse-bg:                         $brand-primary;
$navbar-inverse-bg:                         $application-primary;
//$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
//$navbar-inverse-link-color:                 #ddd;
//$navbar-inverse-link-hover-color:           #fff;
//$navbar-inverse-link-hover-bg:              transparent;
//$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
//$navbar-inverse-link-active-bg:             transparent;
//$navbar-inverse-link-disabled-color:        #ccc;
//$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
//$navbar-inverse-brand-color:                $navbar-inverse-link-color;
//$navbar-inverse-brand-hover-color:          #fff;
//$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
//$navbar-inverse-search-bg:                  lighten($navbar-inverse-bg, 25%);
//$navbar-inverse-search-bg-focus:            #fff;
//$navbar-inverse-search-border:              $navbar-inverse-bg;
//$navbar-inverse-search-placeholder-color:   #ccc;

// Inverted navbar toggle
//$navbar-inverse-toggle-hover-bg:            darken($navbar-inverse-bg, 10%);
//$navbar-inverse-toggle-icon-bar-bg:         #fff;
//$navbar-inverse-toggle-border-color:        darken($navbar-inverse-bg, 10%);


// Navs
// -------------------------
//$nav-link-hover-bg:                         $gray-lighter;

//$nav-disabled-link-color:                   $gray-light;
//$nav-disabled-link-hover-color:             $gray-light;

//$nav-open-link-hover-color:                 #fff;
//$nav-open-caret-border-color:               #fff;

// Tabs
//$nav-tabs-border-color:                     #ddd;

//$nav-tabs-link-hover-border-color:          $gray-lighter;

//$nav-tabs-active-link-hover-bg:             $body-bg;
//$nav-tabs-active-link-hover-color:          $gray;
//$nav-tabs-active-link-hover-border-color:   #ddd;

//$nav-tabs-justified-link-border-color:            #ddd;
//$nav-tabs-justified-active-link-border-color:     $body-bg;

// Pills
//$nav-pills-active-link-hover-bg:            $component-active-bg;
//$nav-pills-active-link-hover-color:         #fff;

// Typography
// -------------------------

// $font-size-base: 12px;
$padding-base-vertical: 4px;
$padding-base-horizontal: 10px;
$table-cell-padding: 6px;
$table-condensed-cell-padding: 3px;
$grid-gutter-width: 10px;
$component-offset-horizontal: 140px;
$panel-body-padding: 10px;

//$btn-primary-bg:          $bootstrap-primary;
//$btn-default-bg:          $application-background;
//$btn-default-color:       $application-primary;
//$jumbotron-bg:            $application-light;
//$well-bg:                 $application-light;
//$panel-default-heading-bg:    $application-light;
//$panel-default-text:      $application-primary;

// Highlight color
$application-emphasis:    #d193d9;
// Active coloe
$application-active:      #FFFFDD;

@import "bootstrap-sprockets";
@import "bootstrap";

// Re-decorate breadcrumb
//.breadcrumb {background: rgba(245, 245, 245, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 18px;}
//.breadcrumb a {color: rgba(66, 139, 202, 1);}
//.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
//.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb > .active {color: $gray-darker;}
.breadcrumb > li+li:before {color: rgba(204, 204, 204, 1); content: "\003E\00a0";}
.row-pager > li+li:before {padding: 0 5px; content: "\00a0";}
.row-pager i {font-size: 1.25em;}

.row-detail-panel {
  padding: 0px !important;
}

// Active table rows
.table > tbody > tr.row-action:hover {
  cursor: pointer;
}
.table > tbody > tr.selected > td {
  background-color: $application-active;
}

.action-thumbnail:hover {
  border: 1px solid $link-hover-color;
}
.thumbnail-content {
  min-height: 120px;
}
// Darken the input text
.form-control {
  color: $gray-darker;
  background-color: #FFFFEE;
}

.form-control.error {
  border: 1px solid $state-danger-text;
}
label.error {
  color: $state-danger-text;
  font-size: 0.75em;
}

.text-limiter-wrapper {
  margin-bottom: 0px
}
.text-limiter-counter {
  font-size: 0.75em;
  margin-bottom: 15px !important;
}


// Render all uppercase items as uppercase
[data-convert="uppercase"] {
  text-transform: uppercase;
}

.dashboard-tool {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.bold {
  font-weight: bold;
}

.text-tagged {
  color: $application-primary;
}

.map-popup {
  width: 220px;
}
.credits p {
  color: #FFF !important;
  font-weight: bold;
}

.scrollable-menu {
    height: auto;
    width: 250px;
    //max-height: 200px;
    overflow-x: hidden;
}

.breadcrumb {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}


.login-panel {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 70px;
  opacity: 0.95;
  min-width: 300px;
}

// Search form in Header
.search-control {
  color: $navbar-inverse-color;
  background-color: $navbar-inverse-bg;
}

.emphasis {
  background-color: $application-emphasis;
}
// Customized panels
.label-emphasis {
  color: #FFF;
  background-color: $application-emphasis;
  border-color: darken($application-emphasis, 10%);
}

// Emphasis backgrounds
.table > thead > tr > td.emphasis, .table > thead > tr > th.emphasis, .table > thead > tr.emphasis > td, .table > thead > tr.emphasis > th, .table > tbody > tr > td.emphasis, .table > tbody > tr > th.emphasis, .table > tbody > tr.emphasis > td, .table > tbody > tr.emphasis > th, .table > tfoot > tr > td.emphasis, .table > tfoot > tr > th.emphasis, .table > tfoot > tr.emphasis > td, .table > tfoot > tr.emphasis > th {
  background-color: lighten($application-emphasis, 20%);
}

// Make tables more condensed
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
  padding: 3px;
}

.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}


.panel-emphasis {
  border-color: darken($application-emphasis, 10%);
}

.panel-emphasis > .panel-heading {
  color: #FFF;
  background-color: $application-emphasis;
  border-color: darken($application-emphasis, 10%);
}
.bg-emphasis {
  background-color: lighten($application-emphasis, 25%);
}

.panel-selected {
  border-color: darken($application-selected, 10%);
}
.panel-selected > .panel-heading {
  color: $brand-primary;
  background-color: $application-selected;
  border-color: darken($application-selected, 10%);
}
.bg-selected {
  background-color: $application-selected;
}

.plan-summary > p {
  margin: 0 0 0 2px;
}
span.badge {
  margin-left: 5px;
}

/* Bootstrap labels */
.label + .label {
  margin-left: 2px;
}
.label [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.label [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}

.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.panel-heading > .button-group {
  margin-top: -2px;
}

/* Marketing Icons */
.marketing-icon {
  color: $gray;
}
.panel-action {
  margin-top: -6.5px;
  margin-bottom: -6.5px;
}
.info-icon {
  margin-left: 5px;
  font-size: 1.25em;
  color: $brand-info;
}
i.action-icon {
  font-size: 1.25em;
}
i.popup-details {
  font-size: 1.25em;
  color: $brand-info;
}
i.fa-7x {
  font-size: 7em;
}
i.fa-6x {
  font-size: 6em;
}
i.fa-1-5x {
  font-size: 1.5em;
}
i.fa-1-25x {
  font-size: 1.25em;
}
i.fa-1-75x {
  font-size: 1.75em;
}

.tab-content {
  padding:10px 0px;
  overflow: hidden;
  min-height: 400px;
}
.dashboard_tab-content {
  //padding-left: 20px;
  padding-top:  0px;
  //padding-right:  10px;
  //padding-bottom:  10px;
  overflow: hidden;
  min-height: 500px;
}

.dashboard-panel {
  padding-right: 0px;
}
.dashboard-widget-content {
  margin-bottom:10px;
  height: 120px;
  overflow-x:hidden;
  overflow-y:auto;
}

.navbar-brand {
  font-size:1.75em;
  padding: 15px 10px;
}

/* -- End -- */

fieldset + fieldset {
  margin-top:5px;
}
.loading {
  width: 100%;
}
.loading > i {
  float: none;
  margin: 0 auto;
}

.shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.panel-legend {
  color: $gray-light;
  font-size: $font-size-h4;
}
.display-label {
  /*font-weight: bold;*/
  color: $gray-light;
  text-align: right;
}
.display-value {
  text-overflow: ellipsis;
  word-break: break-all;
}
.message-header {
  margin: 0;
}
.message-body {
  margin-top: 10px;
}

.indent {
  margin-left:20px;
}

.popup-content {
  margin:5px;
}

.popup-row {

}
.popup-row+.popup-row {
  margin-top:5px;
}
.popup-row > label {
  font-weight: bold;
}
.popup-row > p {
}

td.sub_total {
  font-weight: bold;
  border-top: 1px solid $application-primary !important;
}
/* Emphasize table footer */
tfoot > tr > td {
  font-weight: bold;
}

th.left, td.left {
  text-align: left;
}
th.right, td.right {
  text-align: right;
}
th.center, td.center {
  text-align: center;
}

td > .row > .form-group {
  margin-bottom: 5px !important;
}

/* Full calandar overrides */
.fc-event {
  font-size: 1em;
}
.fc-event :hover {
  text-decoration: none !important;
}
.fc-event-time {
  display: none;
}
.fc-state-highlight {
  background-color: #F9F9F9;
}
/* Sticky footer styles
-------------------------------------------------- */
$view-margin-top: 64px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
#view {
  margin-top:  $view-margin-top;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.popover {
  max-width: 800px;
  min-width: 200px;
  width: auto;
  overflow-y:auto;
  z-index:1000;
}

.search-panel {
  .input-group-btn {
    button {
      min-width: 8.5em;
    }
  }
}

.btn-action {
  margin-left: 5px;  
}

.autoscroll-sm {
  height: 200px;
  overflow-y: auto;
}

.content-spacer {
  padding-top: 25px;
}

/* Loader Panel */
.modal-backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.ajax-loader-message {
  font-size: 20px;
}
.ajax-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  padding: 20px;
  z-index: 1099;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius:5px;
}
