<div class="row">
	<div class="col-md-12">
		<div class="navbar navbar-default" role="navigation">

			<div class="container-fluid">
			  	<ul class="nav navbar-nav">
				    <li><%= link_to :back do %>
		  					<i class="fa fa-angle-left"></i> Back
					  		<% end %>
				  	</li>
				 </ul>
			</div>
		</div>
	</div>
</div>
