.row
  .col-md-12
    = format_field("Company", link_to(@organization.name, organization_path(@organization)) )           
    = format_field("Address", format_as_address(@user.organization) )
    = format_field("Phone", format_as_phone_number(@user.organization.phone) )
    = format_field("Fax", format_as_phone_number(@user.organization.fax) )
