:javascript

  var role_ids_by_org = JSON.parse('#{(OrganizationRoleMapping.role_ids_by_org || {}).to_json.html_safe}');
  var privilege_ids_by_role = JSON.parse('#{(RolePrivilegeMapping.privilege_ids_by_role || {}).to_json.html_safe}');

  var $org_select;
  // Document Ready
  $(document).ready(function(){


    $(function() {
      $org_select = $("#user_organization_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          },
          onItemRemove: function(value) {
            if (parseInt(value) == parseInt($('#user_organization_id').val())) {
              update_disabled_orgs();
            }
          }
      });

      all_org_updates($('#user_organization_id').val());
    });

    update_privilege_checkboxes($('#user_role_ids').val());

    $('btn.selector-clearall').hide();

    if (parseInt('#{params[:organization_id]}') > 0) { // new user for a specific org
      $('#user_organization_id').change();
    }

    transam.make_same_height('.form-part');
  });

  $('#user_role_ids').change(function() {
    role_id = $(this).val();
    $('.super-privilege').prop( "checked", false );
    update_privilege_checkboxes(role_id);
  });

  function update_privilege_checkboxes(role_id) {
    if(role_id) {
      $('#privilege-ids-div').show();
      role_id = parseInt(role_id);
      var privilege_ids = privilege_ids_by_role[role_id];
      var count = 0
      $('.super-privilege').each(function() {
        var val = $(this).val();
        if(val && privilege_ids != undefined && privilege_ids.indexOf(parseInt(val)) >= 0) {
          $(this).parent().parent().show();
          if (count == 0) {
            count = 1;
            $(this).parent().parent().css('margin-top', '10px');
          } else {
            $(this).parent().parent().css('margin-top', '-5px');
          }
        } else {
          $(this).parent().parent().hide();
        }
      });
    } else {
      $('#privilege-ids-div').hide();
    }
  }

  // Organization change: reset role, borough, and boroughs
  $('#user_organization_id').on('change', function(e) {
    var org_id = $(this).val();

    var selectize = $org_select[0].selectize;

    selectize.setValue([org_id]);

    all_org_updates(org_id);

    $('#user_role_ids').val('');
    $('#user_role_ids').change();
    $('#privilege-ids-div input').attr('checked', false);
  });

  function all_org_updates(org_id) {
    update_role_list_by_organization(org_id);

    update_disabled_orgs();
  }

  function update_role_list_by_organization(org_id) {
    if(org_id) {
      org_id = parseInt(org_id);
      var role_ids = role_ids_by_org[org_id];
      //console.log(role_ids);
      $('#user_role_ids option').each(function() {
        var val = $(this).val();
        if(val && role_ids != undefined && role_ids.indexOf(parseInt(val)) < 0) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    } else {
      $('#user_role_ids option').hide();
      $('#user_role_ids option[value=""]').show();
    }
  }

  // can be overwritten in other engine
  function update_disabled_orgs() {
    var org_id = $('#user_organization_id').val();
    var selectize = $org_select[0].selectize;
    selectize.addItem(org_id);
  }