%ul.nav.nav-tabs
  %li
    %a{:href => "#contact", :data =>{:toggle => 'tab'}}
      = "Contact Info"
  - if current_user.has_role? :admin
    %li
      %a{:href => "#activity", :data =>{:toggle => 'tab'}}
        = "Activity"

.tab-content
  .tab-pane.fade#contact
    .tab-content
      = render 'contact'
  - if current_user.has_role? :admin
    .tab-pane.fade#activity
      .tab-content
        = render 'activity'
