<%= sub_nav_tag({}) do %>
  <% unless @user.nil? || @user.new_record? %>
    <li>
      <%= link_to user_path(current_user) do %> 
        <i class="fa fa-angle-left"></i> Back
      <% end %>
    </li>
  <% else %>
  	<li>
  		<%= link_to users_path(@org) do %> 
  		  <i class="fa fa-angle-left"></i> Back
  		<% end %>
  	</li>
  <% end %>
<% end %>
