:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions
    = render :partial => "users/index_actions"

%table.table.table-hover{:id => table_dom_id,
  :data => {:toggle => 'table',
  :url => users_path(:format => :json),
  :card_view => "false",
  :pagination => 'true',
  :sort_order => 'asc',
  :sortable => 'true',
  :side_pagination => 'server',
  :show_pagination_switch => 'true',
  :page_number => '1',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :show_columns => 'true',
  :toolbar => "#table_actions",
  :row_style => 'row_style',
  :click_to_select => 'true',
  :show_export => 'true',
  :id_field => 'object_key',
  :export_types => "['csv', 'txt', 'excel']",
  :state_save => 'true',
  :state_save_id_table => "usersid",
  :state_save_expire => "1y",
  :maintain_selected => 'true',
  :single_select => 'false'}}

  %thead
    %tr
      %th.left{:data => {:field => "object_key", :visible => 'false'}} Object Key
      %th.left{:data => {:field => "external_id", :visible => 'false'}} External Id
      %th.left{:data => {:field => "organization_id", :sortable => 'true'}} Organization
      %th.left.nowrap{:data => {:field => "title", :sortable => 'true'}} Title
      %th.left.nowrap{:data => {:field => "first_name", :sortable => 'true'}} First
      %th.left.nowrap{:data => {:field => "last_name", :sortable => 'true'}} Last
      %th.left.nowrap{:data => {:field => "email", :sortable => 'true'}} Email
      %th.left.nowrap{:data => {:field => "phone", :sortable => 'true'}} Phone
      %th.left{:data => {:field => "timezone", :visible => 'false', :sortable => 'true'}} Timezone
      %th.center{:data => {:field => "notify_via_email", :visible => 'false', :sortable => 'true'}} Send Emails
      %th.right{:data => {:field => "num_table_rows", :visible => 'false', :sortable => 'true'}} Table Rows
      %th.left{:data => {:field => "role_ids", :sortable => 'true'}} Role
      %th.left{:data => {:field => "privilege_ids", :sortable => 'true'}} Privileges
      - if current_user.has_role? :admin
        %th.right{:data => {:field => "sign_in_count", :visible => 'false', :sortable => 'true'}} Num Logins
        %th.right{:data => {:field => "last_sign_in_at", :visible => 'false', :sortable => 'true'}} Last Login
        %th.left.nowrap{:data => {:field => "last_sign_in_ip", :visible => 'false', :sortable => 'true'}} Last Login IP
        %th.right{:data => {:field => "failed_attempts", :visible => 'false', :sortable => 'true'}} Num Failed
        %th.center{:data => {:field => "locked_at", :visible => 'false', :sortable => 'true'}} Locked
        %th.center{:data => {:field => "active", :visible => 'false', :sortable => 'true'}} Active
        %th.right{:data => {:field => "created_at", :visible => 'false', :sortable => 'true'}} Created At
        %th.right{:data => {:field => "updated_at", :visible => 'false', :sortable => 'true'}} Updated At


= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => user_path("xxx")}

:javascript
  $(document).ready(function() {
    $('#' + '#{table_dom_id}').bootstrapTable('resetWidth');
  });

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });
