- if can? :create, User
  = link_to new_user_path, :class => 'btn btn-default' do
    %i.fa.fa-fw.fa-user-plus
    = " Add a user"

- if current_user.has_role? :admin
  .btn-group{:style => 'margin-left: 0!important;'}
    %button.btn.btn-default.dropdown-toggle{:data => {:toggle => 'dropdown'}, :aria => {:exapanded => 'false'}}
      Roles
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      %li
        = link_to "All roles", users_path
      %li.divider
      - Role.all.each do |role|
        %li
          = link_to role.label, users_path(:role => role.name)
