:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions
    = render :partial => "users/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :url => users_path(:format => :json),
  :pagination => 'true',
  :side_pagination => 'server',
  :show_pagination_switch => 'true',
  :page_number => '1',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  # Just pull 5 records per page in order to test pagination with a small data set
  :page_size => 5,
  :query_params => "query_params",
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'false',
  :state_save => 'true',
  :state_save_id_table => "usersid",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.left{:data => {:visible => 'false'}} External Id
      %th.left{:data => {:sortable => 'true'}} Organization
      %th.left.nowrap{:data => {:sortable => 'true'}} Title
      %th.left.nowrap{:data => {:sortable => 'true'}} First
      %th.left.nowrap{:data => {:sortable => 'true'}} Last
      %th.left.nowrap{:data => {:sortable => 'true'}} Email
      %th.left.nowrap{:data => {:sortable => 'true'}} Phone
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Timezone
      %th.center{:data => {:visible => 'false', :sortable => 'true'}} Send Emails
      %th.right{:data => {:visible => 'false', :sortable => 'true'}} Table Rows
      %th.left{:data => {:sortable => 'true'}} Role
      %th.left{:data => {:sortable => 'true'}} Privileges
      - if current_user.has_role? :admin
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Num Logins
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Last Login
        %th.left.nowrap{:data => {:visible => 'false', :sortable => 'true'}} Last Login IP
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Num Failed
        %th.center{:data => {:visible => 'false', :sortable => 'true'}} Locked
        %th.center{:data => {:visible => 'false', :sortable => 'true'}} Active
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Created At
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Updated At

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => user_path("xxx")}