-if @user.external_id.present?
  %p
    %strong Changes to passwords are only for TransAM and will not affect external logins.
%p Your password must be between 8 and 128 characters.
%p Your password must contain at least one uppercase letter, one lowercase letter, and one number
%p You cannot reset your password to your previous password