:javascript

  var user_tab_key = 'user_tab_key';

  $(document).ready(function() {

    transam.make_same_height('.header-part');
    transam.make_same_height('.form_part');
    transam.hide_empty_dropdown();

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      transam.set_ui_key_value(user_tab_key, this_tab);
    });
  });
  $(function() {
    // Find the previously selected tab
    var selected_tab = $('a[href="'+transam.get_ui_key_value(user_tab_key)+'"]');
    // Default to the first tab if no tab is stored or stored tab isn't available to current user
    if (selected_tab.length) {
      selected_tab.tab('show');
    } else {
      $('a[data-toggle="tab"]:first').tab('show');
    }
  });
