.row
  .col-xs-12
    = render :partial => "users/user_card", :locals => {:user => user}
.row
  .col-xs-12
    = format_field("Primary Phone", format_as_phone_number(user.phone) )
    = format_field("dotGrants ID", user.external_id )
    - if current_user.has_role? :admin
      = format_field("Roles", format_as_list(user.roles) )
