.breadcrumbs
  - if @row_number.to_i > 0
    .row
      .col-lg-10.col-md-9.col-sm-8.col.col-xs-12
        = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
      .col-lg-2.col-md-3.col-sm-4.col.col-xs-12
        #row_pager
          = render 'shared/row_pager'
  - else
    = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
