<div id="footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
		    	<p class="muted credit">&copy; 2013 <a href="http://camsys.com">Cambridge Systematics</a></p>
		    </div>
		    <div class="span4">
		    	<p class="muted credit" style="text-align:center;">
			    	<a href="http://camsys.com">Privacy Policy</a>
			    	&#8226;
			    	<a href="http://camsys.com">Security Policy</a>
			    	&#8226;
			    	<a href="http://camsys.com">Feedback</a>
			    </p>
		    </div>
		    <div class="span4">
    			<p class="muted credit" style="float:right">Ver 0.95</p>
		    </div>
		</div>
	</div>
</div>
