<div id="footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
		    	<p class="muted credit">&copy; 2013 <a href="http://camsys.com">Cambridge Systematics</a></p>
		    </div>
		    <div class="span4">
		    	<p class="muted credit" style="text-align:center;">
		    		link_to 'Privacy Policy', page_path('privacy_policy')
			    	&#8226;
		    		link_to 'Security Policy', page_path('security_policy')
			    	<a href="http://camsys.com">Security Policy</a>
			    	&#8226;
		    		link_to 'Security Policy', page_path('about')
			    </p>
		    </div>
		    <div class="span4">
    			<p class="muted credit" style="float:right">Powered by TransAM Core Ver 0.0.a1</p>
		    </div>
		</div>
	</div>
</div>
