<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-error alert-block">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<h4><%= pluralize(obj.errors.count, "error") %> prohibited this <%= obj.class %> from being saved.</h4>
			<% if Rails.env.development? %>
			<% obj.errors.full_messages.each do |msg| %>
			<p>
				<%= msg %>
			</p>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
