%li#notifications_li
  %span#notification_count{style: 'display: none;'}
  = link_to "#", :id => "notificationLink", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Notifications' do
    %i.fa.fa-globe.fa-2x
  #notificationContainer{style: "overflow-y:scroll;max-height:400px;"}
    #notificationsBody.notifications
    #notificationFooter
      = link_to read_all_notifications_path, :remote => true do
        = 'Mark All as Read'
        %i.fa.fa-check.fa-fw

:javascript

  countNotifications();

  setInterval(countNotifications, 10000); // checking for notifications every 10 seconds

  function countNotifications() {
    $.ajax({
      url: "/notifications/count",
      type: 'GET',
      dataType: 'json',
      data: {},
      complete: function(response, status) {
        if (parseInt(response.responseText) > 0) {
          $('#notification_count').show();
          $('#notification_count').html(response.responseText);
        } else {
          $('#notification_count').hide();
        }
      }
    });
  }

  function getNotifications() {
    $.ajax({
      url: "/notifications",
      type: 'GET',
      dataType: 'json',
      data: {},
      complete: function(response, status) {
        if (response.status == 200) {
          $('#notificationsBody').html(response.responseText);
        } else {
          $('#notificationsBody').html(response.statusText);
        }
      }
    });
  }

  $(document).ready(function() {

    $("#notificationContainer").hide();

    $("#notificationLink").click(function() {
      if($('#notificationContainer').is(':visible')) {
        $("#notificationContainer").hide();
      } else {
        $('body').click();
        $("#notificationContainer").fadeToggle(300);
        getNotifications();
      }
      //$("#notification_count").fadeOut("slow");
      return false;
    });

    //Document Click
    $('body').click(function() {
      $("#notificationContainer").hide();
    });

  });