%li#notifications_list{:class => get_nav_link_class(['notifications'])}

:javascript

  countNotifications();

  setInterval(countNotifications, 10000); // checking for notifications every 10 seconds

  function countNotifications() {
    $.ajax({
      url: "/notifications",
      type: 'GET',
      dataType: 'json',
      data: {},
      complete: function(response, status) {
          $('#notifications_list').html(response.responseText);
      }
    });
  }