:ruby
  notices = Notice.active_for_organization(@organization).order(:display_datetime)

.col-md-3.col-sm-3
  .panel.panel-default{:style => 'height: 200px;overflow-y: auto;'}
    .panel-heading
      .pull-right
        %span.badge= notices.count
      Notices
    - if notices.empty?
      .panel-body
        %p= "No notices."
    - else
      %ul.list-group
        - notices.each do |n|
          = render :partial => "shared/notice_detail", locals: {:notice => n}
