%li#notifications_li{:class => get_nav_link_class(['notifications'])}
  %span#notification_count
  = link_to "#", :id => "notificationLink", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"}, :title => 'Notifications' do
    %i.fa.fa-globe.fa-2x
  #notificationContainer
    #notificationsBody.notifications
    #notificationFooter
      = link_to 'Mark All as Read', read_all_notifications_path, :remote => true

:javascript

  countNotifications();

  setInterval(countNotifications, 10000); // checking for notifications every 10 seconds

  function countNotifications() {
    $.ajax({
      url: "/notifications/count",
      type: 'GET',
      dataType: 'json',
      data: {},
      complete: function(response, status) {
        if (response.responseText == '0') {
          $('#notification_count').hide();
        } else {
          $('#notification_count').html(response.responseText);
        }
      }
    });
  }

  function getNotifications() {
    $.ajax({
      url: "/notifications",
      type: 'GET',
      dataType: 'json',
      data: {},
      complete: function(response, status) {
          $('#notificationsBody').html(response.responseText);
      }
    });
  }

  $(document).ready(function() {

    $("#notificationContainer").hide();

    $("#notificationLink").click(function() {
      $("#notificationContainer").fadeToggle(300);
      getNotifications();
      //$("#notification_count").fadeOut("slow");
      return false;
    });

    //Document Click
    $(document).click(function() {
      $("#notificationContainer").hide();
    });

  });