.breadcrumbs{:style => 'margin-top: 30px;'}
  - unless params[:controller] == 'dashboards'
    - if @total_rows and @total_rows > 0
      .row
        .col-md-10
          = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
        .col-md-2
          = render 'shared/row_pager'
    - else
      = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
