:javascript
  $(document).ready(function() {
    $('.popup-details').bind({
      mouseenter: function() {
        var el=$(this);  
        $.ajax({
          type: "GET",
          url: el.attr("data-url"),
          dataType: "html",
          success: function(data) {
            el.attr("data-content", data);
            el.popover('show');
          }
        });
      },
      mouseleave: function() {
        var el=$(this);
        el.popover('hide');
      }
    });
  });