.breadcrumb.clearfix{:style => "padding:3.5px 15px;"}
  - if @next_record_path == "#"
    %i.fa.fa-chevron-circle-right.text-muted.fa-2x.navbar-right
  - else
    = link_to @next_record_path, :title => 'Next record', :remote => @row_pager_remote.nil? ? false : @row_pager_remote  do
      %i.fa.fa-chevron-circle-right.fa-2x.navbar-right
  
  %span.navbar-right{:style => 'padding: 5px 10px;'} Page #{@row_number} of #{@total_rows}

  - if @prev_record_path == "#"
    %i.fa.fa-chevron-circle-left.text-muted.fa-2x.navbar-right
  - else
    = link_to @prev_record_path, :title => 'Previous record', :remote => @row_pager_remote.nil? ? false : @row_pager_remote  do
      %i.fa.fa-chevron-circle-left.fa-2x.navbar-right
