- unless @core_tbl_formatter_load_count == 1
  = render 'shared/table_formatters'

:javascript

  $(window).load(function() {
    // Make sure the paginator is set to the first page
    $("##{table_id}").bootstrapTable('selectPage', 1);
  });

  $(window).resize(function() {
    $("##{table_id}").bootstrapTable('resetView');
  });
