-# IMPORTANT: add .editable-fields-container to the top level .tab-content container,
-#            in order to let the script locate active tab and enable/disable xeditable fields

:css
  .editable-click, a.editable-click, a.editable-click:hover {
    color: #17406E;
    border-bottom: none;
  }

  .editable-click.editable-disabled, a.editable-click.editable-disabled, a.editable-click.editable-disabled:hover {
    color: #17406E;
  }

  .editable-field {
    pointer-events: none;
  }

  .editableform div, .editable-input input:not([type='checkbox']), .editable-input textarea, .editable-input select.full-width{
    width: 100% !important;
  }

  .editable-buttons {
    display: none;
  }
  
:javascript

  // show Other text entry only if it's a Other type; otherwise, hide and empty its value
  // type_el: HTML element of the Type dropdown
  // type_id: Type dropdown value
  function show_hide_other_text_entry(type_el, type_id) {
    var other_text_container = $(type_el).parents('.other-fields-container').find('.other-value-container');
    console.log(other_text_container);
    if(other_text_container) {
      var other_ids = $(type_el).parents('.other-type-container').data('other-type-ids');
      var other_edit_field = other_text_container.find('.editable-field');
      if(!other_ids || other_ids.indexOf(type_id) < 0) {
        other_edit_field.editable('setValue', '');
        other_text_container.hide();
      } else {
        other_text_container.show();
        other_edit_field.editable('hide');
        other_edit_field.editable('show', false);
      }
    }

    var dual_text_container = $(type_el).parents('.other-fields-container').find('.dual-value-container');
    if(dual_text_container) {
      var dual_ids = $(type_el).parents('.other-type-container').data('dual-type-ids');
      var duel_edit_field = dual_text_container.find('.editable-field');
      if(!dual_ids || dual_ids.indexOf(type_id) < 0) {
        duel_edit_field.editable('setValue', '');
        dual_text_container.hide();
      } else {
        dual_text_container.show();
        duel_edit_field.editable('hide');
        duel_edit_field.editable('show', false);
      }
    }
  }

  $(function() {
    $.fn.editable.defaults.mode = 'inline';
    $.fn.editable.defaults.clear = false;
    $.fn.editable.defaults.savenochange = true;
    $.fn.editable.defaults.send = 'never';
    $.fn.editable.defaults.onblur = 'ignore';
    $.fn.editable.defaults.disabled = true;
    $.fn.editable.defaults.unsavedclass = null;
    $.fn.editable.defaults.highlight = false;

    // disable subform by default
    $('.asset-subform').find('input, select').attr('disabled', 'disabled');
    $('.asset-subform .asset-subform-action').hide();
    $('.asset-subform .asset-subform-display').show();

    // variable to store radio options user selected
    // used to reset them when cancel editing
    var selected_radio_inputs;

    function enable_tab_editing(tab_id) {
      $('#'+tab_id+' .editable-field').editable('enable');
      $('#'+tab_id+' .editable-field').filter(':visible').editable('show', false);
      $('#'+tab_id+' input[type=radio]').removeAttr('disabled');
      //$('#'+tab_id+' .editable-input').find('input, select').first().focus();

      $('.other-type-container select').each(function() {
        $(this).closest('.other-type-container').attr('data-original-value', $(this).val());
      });

      // enable subforms
      $('#'+tab_id+' .asset-subform').find('input, select').removeAttr('disabled');
      $('#'+tab_id+' .asset-subform .asset-subform-action').show();
      $('#'+tab_id+' .asset-subform .asset-subform-display').hide();

      // de-focus form: 1. make it select the first one; 2. lost is focus
      // the purpose of selecting first one is to avoid focus jumping to others
      setTimeout(function(){
        $('#'+tab_id+' .editable-input').find('input, select').first().focus();
        $(':focus').blur(); 
      }, 10);
    }

    function disable_tab_editing(tab_id) {
      $('#'+tab_id+' input[type=radio]').attr('disabled', 'true');
      $('#'+tab_id+' .editable-field').editable('hide');
      $('#'+tab_id+' .editable-field').editable('disable');
    }


    function open_tab(tab_id) {
      $('.editableform-loading').hide();
      $('.editableform').show();
      $('a[href="#' + tab_id +'"]').tab('show');
    }

    function get_active_tab_id() {
      return $('.editable-fields-container > .tab-pane.active').attr('id');
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var tab_id = get_active_tab_id();
      if ($('.edit-xeditable-button').is(":hidden")) {
        enable_tab_editing(tab_id);
      } else {
        disable_tab_editing(tab_id);
      }
    });

    $('.edit-xeditable-button').on('click', function(e) {
      e.stopPropagation();

      //set selected radios
      selected_radio_inputs = $(this).closest('.panel').find('input[type=radio]:checked');

      var tab_id = get_active_tab_id();
      enable_tab_editing(tab_id);

      $('.edit-xeditable-button').hide();
      $('.edit-xeditable-buttons').show();
    });

    $('.cancel-xeditable-button').on('click', function(e) {
      // reload page to avoid left-over field changes
      window.location.reload();
    });

    $('.save-xeditable-button').click(function() {
     $('form.editableform').submit(); // save values locally, then submit to server
     if($('.asset-subform form').length > 0) {
      $('.asset-subform form').valid(); // validate subforms (e.g., Funding Programs)
     }
     if($('.has-error .form-control').length == 0) {
       $('#processing_spinner').show();

       // get params from subforms
       var extra_data = {};
       var tab_id = get_active_tab_id();

        if ($('[data-behavior~=component-picker]').length > 0) {
          var subforms = $('#'+ tab_id +' .tab-pane.active .asset-subform form');
        } else {
          var subforms = $('.asset-subform form');
        }
       subforms.each(function(subform) {
         $(this).serializeArray().forEach(function(param_value, idx) {
            if(param_value) {
              field_name = param_value.name
              if ($('[data-behavior~=component-picker]').length > 0) {

               first_bracket_index = field_name.indexOf('[')

               if (first_bracket_index >= 0) {
                  field_name = field_name.substring(0,first_bracket_index) + '['+$('#'+ tab_id +' .tab-pane.active [data-behavior~=component-picker]').data('target-model') +'_attributes][0]' + field_name.substring(first_bracket_index,field_name.length);

                  id_field_name = field_name.substring(0,first_bracket_index) + '['+$('#'+ tab_id +' .tab-pane.active [data-behavior~=component-picker]').data('target-model') +'_attributes][0][id]';
                  if (extra_data[id_field_name] === undefined) {
                    extra_data[id_field_name] = $('#'+ tab_id +' .tab-pane.active [data-behavior~=component-picker] option:selected').data('id');
                  }
               }
              }

              extra_data[field_name] = param_value.value;
            }
         });
       });

       var ajax_ops = {
             type: 'PUT',
             dataType: 'json' //assuming json response
        };
       if ($(this).data('xeditable-url') != undefined) {
        ajax_ops['url'] = $(this).data('xeditable-url')
       }
       $('.editable-field').editable('submit', {
           ajaxOptions: ajax_ops,
           data: extra_data,
           success: function(data, config) {
              $('#processing_spinner').hide();
              if(data && data.errors){
                //server-side validation error, response like {"errors": {"username": "username already exist"} }
                config.error.call(this, data.errors);
              } else {
                var current_url = window.location.href;
                if(current_url.includes('?')) {
                  if(current_url.includes('use_last_tab')) {
                    if(current_url.includes('use_last_tab=0')) {
                      current_url = current_url.replace("use_last_tab=0", "use_last_tab=1");
                    }
                  } else {
                    current_url += "&use_last_tab=1";
                  }
                } else {
                  current_url +=  "?use_last_tab=1";
                }

                // refresh page to show new profile
                window.location.replace(current_url);
              }
           },
           error: function(errors) {
             $('#processing_spinner').hide();
             var msg = '';
             if(errors && errors.responseText) { //ajax error, errors = xhr object
                 msg = errors.responseText;
                 console.log(msg);
                 alert('We are sorry but something went wrong. Please try again.');
             } else { //validation error (client-side or server-side)
                 $.each(errors, function(k, v) { msg += k+": "+v+"<br>"; });
                 alert(msg);
             }
           }
       });
     } else {
      var tab_id = $('.has-error .form-control').parents('.tab-pane').attr('id');
      open_tab(tab_id);
     }
    });

    $('.editable-field.combodate').editable({
        template: 'MMM D YYYY',    
        viewformat: 'MM/DD/YYYY',
        combodate: {
          maxYear: (new Date()).getFullYear(),
          minYear: 1900
        }
    });

    var generic_xeditable_options = {
      validate: function(value) {
        if($(this).hasClass('required')) {
          if($.trim(value) == '') return 'This field is required';
        }
        if($(this).attr('data-min') != undefined) {
          var min = $(this).attr("data-min");
          if(min.includes('.')) {
            value = parseFloat(value);
            min = parseFloat(min);
          }
          else {
            value = parseInt(value);
            min = parseInt(min);
          }
          if(value < min) {
            return 'Value must be greater than or equal to ' + min + '.';
          }
        }
        if($(this).attr('data-max') != undefined) {
          var max = $(this).attr("data-max");
          if(max.includes('.')) {
            value = parseFloat(value);
            max = parseFloat(max);
          }
          else {
            value = parseInt(value);
            max = parseInt(max);
          }
          if(value > max) {
            return 'Value must be less than or equal to ' + max + '.';
          }
        }
      },
      error: function() {
        return "invalid input or service unavailable";
      }
    };

    var currency_xeditable_options = {
      display: function(value) {
        if($.trim(value) == '') {
          $(this).text('');
        } else {
          var currency_val = Number((parseFloat(value)).toFixed(1)).toLocaleString();
          $(this).text('$ ' + currency_val);
        }
      }
    };
    for(var attr in generic_xeditable_options) {  
      currency_xeditable_options[attr] = generic_xeditable_options[attr];
    } 

    $('.editable-field:not(.currency-number)').editable(generic_xeditable_options);
    $('.editable-field.currency-number').editable(currency_xeditable_options);

    $('body').on('change', '.other-type-container select', function() {
      var type_id = $(this).val();
      if(type_id) {
        type_id = parseInt(type_id);
      }
      show_hide_other_text_entry(this, type_id);
    });

    $('.other-type-container .editable-field').each(function() {
      console.log($(this).data('name'))
      var type_id = $(this).editable('getValue')[$(this).data('name')];
      if(type_id) {
        type_id = parseInt(type_id);
      }
      show_hide_other_text_entry(this, type_id);
    });
  });

  // https://github.com/vitalets/x-editable/issues/851
  (function() {
      var original = $.fn.editableutils.setCursorPosition;
      $.fn.editableutils.setCursorPosition = function() {
          try {
              original.apply(this, Array.prototype.slice.call(arguments));
          } catch (e) { /* noop */ }
      };
  })();

