:css
  .available-filters-panel .panel-body{
    max-height: 200px;
    overflow: auto;
  }
  
.panel.panel-primary.available-filters-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-filter
  .panel-body
    %ul.list-group.filter-list