:css
  .available-columns-panel .panel-body{
    max-height: 200px;
    overflow: auto;
  }

.panel.panel-primary.available-columns-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-list
  .panel-body
    %ul.list-group.column-list