.row.form-group
  %h4.col-sm-12 Category
  .col-sm-8
    = select_tag(:query_category, options_for_select(QueryCategory.all), :class => "form-control")
  .col-sm-4
    %button.btn.btn-warning.reset-button
      Reset