:css
  .remove-filter-details {
    cursor: pointer;
  }

  .filter-selections-panel .panel-body {
    max-height: 520px;
    overflow: auto;
  }

  .columns-container button {
    display: inline-block;
    border: none;
  }
  
.panel.panel-default.column-selections-panel
  .panel-heading
    .pull-right
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    %h3.panel-title
      Column Selections
      %span{style: 'font-size: smaller;'}
        (drag and drop to change order)
  .panel-body
    .row.col-sm-12.columns-container

:javascript
  $(function() {
    function reorderColumns() {
      var newIds = [];
      $('.columns-container [data-id]').each(function() {
        newIds.push($(this).data('id'));
      });
      _saved_query.setOrderedOutputFieldIds(newIds);
    };
    $( ".columns-container" ).sortable({
      appendTo: document.body,
      cancel: '',
      stop: function( event, ui ) {
        reorderColumns();
      }
    });
    $(".columns-container").on("keydown", ".label-info", function(e) {
      let activeItem = $(document.activeElement);
      switch (e.key) {
        case "ArrowLeft":
          let prevItem = activeItem.prev();
          if (prevItem.length && !prevItem.hasClass('unsortable')) {
            activeItem.insertBefore(prevItem);
            activeItem.focus();
            reorderColumns();
          }
          break;
        case "ArrowRight":
          let nextItem = activeItem.next();
          if (nextItem.length && !nextItem.hasClass('unsortable')) {
            activeItem.insertAfter(nextItem);
            activeItem.focus();
            reorderColumns();
          }
          break;
      }
    });
  });


