:css
  .remove-filter-details {
    cursor: pointer;
  }
  
.panel.panel-default.filter-selections-panel
  .panel-heading
    .pull-right
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    %h3.panel-title
      Filter Selections
  .panel-body
    .row.col-sm-12.filters-container