.panel.panel-default
  .panel-heading
    .pull-right
      = button_tag :class => 'btn btn-xs btn-primary execute-query', :title => "Trigger data query", :type => 'button' do
        %i.fa.fa-calculator
        Calculate
    %h3.panel-title
      Results
  .panel-body
    %label
      = "Records Returned: "
      %span.result-count-label
        ="#{@results ? @results.size : 'N/A'}"

:javascript
  $(function() {
    $('.execute-query').click(function(e) {
      e.preventDefault();

      $.ajax({
        url: "#{query_saved_queries_path}",
        method: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({
          saved_query: _saved_query.data()
        }),
        success: function(data) {
          $('.result-count-label').html(data.count);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
        }
      });
    });
  });