:css
  .selected-columns-panel .panel-body{
    max-height: 200px;
    overflow: auto;
  }
.panel.panel-primary.selected-columns-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-list
      Selected
  .panel-body
    %ul.list-group.column-list