:css
  .selected-filters-panel .panel-body{
    max-height: 200px;
    overflow: auto;
  }

.panel.panel-primary.selected-filters-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-filter
      Selected
  .panel-body
    %ul.list-group.filter-list