<% unless @asset.images.empty? %>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Images</legend>
				<% @asset.images.each do |attachment| %>
					<%= image_thumbnail_tag({:class => 'col-md-2 img_thumbnail', :path => inventory_attachment_path(@asset, attachment)}) do %>
						<%= image_tag attachment.image.url, :class => "img-polaroid image-center" if attachment.image  %>
					<% end %>
				<% end %>
			</fieldset>
		</div>
	</div>
<% end %>

<% unless @asset.documents.empty? %>
	<div class="row">
		<fieldset>
			<legend>Documents</legend>
			<% @asset.images.each do |attachment| %>
				<%= action_thumbnail_tag({:class => 'col-md-2 doc_thumbnail', :icon => attachment.attachment_type.display_icon_name, :title => attachment.name, :path => inventory_attachment_path(@asset, attachment)}) do %>
					<%= image_tag attachment.file if attachment.document  %>
				<% end %>
			<% end %>
		</fieldset>
	</div>
<% end %>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		transam.make_same_height('.thumbnail-content');
		
		$(window).resize(function() {
			transam.make_same_height('.thumbnail-content');
    	});		
	});
		
</script>
