<div class="navbar">
  <div class="navbar-inner">
  	<ul class="nav">
	    <li>
			<%= link_to inventory_attachments_path(@asset) do %> 
			<i class="icon-angle-left"></i> Back
			<% end %>
	  	</li>
	  	<% if @attachment && ! @attachment.new_record? %>
		<li class="divider-vertical"></li>
	    <li><%= link_to edit_inventory_attachment_path(@asset, @attachment) do %>
	  			<i class="icon-edit"></i> Update 
	  		<% end %>
	  	</li>
		<li class="divider-vertical"></li>
	    <li><%= link_to inventory_attachment_path(@asset, @attachment), :method => :delete, :confirm => "Are you sure you want to remove this attachment?" do %>
  				<i class="icon-remove"></i> Remove
  			<% end %>
	  	</li>
	  	
	  	<% end %>  		
	</ul>
	 
  </div>
   
</div>
