.container
  .page-header
    %h2 About TransAM
  %p
    TransAM is an open-source asset management, grant management, and capital planning platform developed by Cambridge Systematics.

  .col-sm-12
    %fieldset
      %legend= "TransAM Engines"
      - SystemConfig.transam_modules.each do |engine|
        = action_thumbnail_tag({:class => 'col-sm-4', :icon => "fa fa-code-fork", :title => engine.name, :path => "https://github.com/camsys/#{engine.name}/wiki"}) do
          = format_as_text(engine.version.to_s)
