<h1>Oops <small>Error 401 Unauthorized</small></h1>
<br/>
<p>
	We are sorry but you do not have permission to access the page you requested. Use your
	browser's <strong>Back</strong> button or click below to return to your dashboard.
</p>
<a href="/" class="btn btn-primary btn-large"><i class="fa fa-home"></i> Home</a>
