%h1
  Oops
  %small Error 401 Unauthorized
%br/
%p
  We are sorry but you do not have permission to access the page you requested. Use your
  browser's
  %strong Back
  button or click below to return to your dashboard.
%a.btn.btn-primary.btn-large{:href => "/"}
  %i.fa.fa-home
  Home