%h1
  Oops
  %small Error 404 Page Not Found
%br/
%p
  We are sorry but the page you are looking for could not be found, either contact the adminstrator or try again. Use your
  browser's
  %strong Back
  button or click below to return to your dashboard.
%a.btn.btn-primary.btn-large{:href => "/"}
  %i.fa.fa-home
  Home