%h1
  Oops
  %small Error 500 Application Error
%br/
%p
  We are sorry but something went wrong, either contact the adminstrator or try again. Use your
  browser's
  %strong Back
  button or click below to return to your dashboard.
%a.btn.btn-primary.btn-large{:href => "/"}
  %i.fa.fa-home
  Home