.row
  .col-xs-12
    %h1 System Health Check
    %p= format_as_date_time(Time.now)
    %p All systems have been checked and passed.
    %p Please use your browsers <strong>Back</strong> button or click below to return to your dashboard.
    %p <a href="/" class="btn btn-primary btn-large"><i class="fa fa-home"></i> Home</a>
