.tab-pane.fade#assets
  .tab-content
    - if @vendor.assets.empty?
      %p There are no assets associated with this vendor.
    - else
      = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @vendor.assets}
