:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id}
  %thead
    %tr
      %th.left Name
      %th.left Address

  %tbody
    - @vendors.each do |v|
      %tr.popup-details{:data => {:action_path => vendor_path(v)}}
        %td.left= v.name
        %td.left= format_as_address(v) if v.address1

- if @vendors.count > current_user.num_table_rows
  = render :partial => 'shared/datatable_javascript', :locals => {:id => table_dom_id}
