:javascript
  
  var user_tab_key = 'vendor_tab_key';
  
  $(document).ready(function() {

    transam.make_same_height('.header-part');

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      transam.set_ui_key_value(user_tab_key, this_tab);
    });
  });
  $(function() {
    var last_tab = transam.get_ui_key_value(user_tab_key);
    if (last_tab) {
      $('a[href="'+last_tab+'"]').tab('show');
    } else {
      // Default to the first tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }   
  }); 
