<form accept-charset="UTF-8" action="/users/sign_in" class="navbar-form navbar-right" id="new_user" method="post" novalidate="novalidate" role="form">
	<div style="margin:0;padding:0;display:inline">
		<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Rm1Nje97STEfMS+AT/8jbMqy9F69EW1NeNPSh7mR5Ms=">
	</div>
	<div class="form-group">
		<label class="sr-only" for="user_email"><abbr title="required">*</abbr> Email</label>
		<input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" type="email" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label class="sr-only" for="user_password">Password</label>
		<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-primary">Sign in</button>

</form>
<%= link_to "Forgot Your Password?", new_password_path(resource_name), :class => 'navbar-right navbar-text' %>
