:ruby
  op_options = [['Earlier than or equal to', '<='],['Later than or equal to', '>=']]

.form-group
  = select_tag(:op, options_for_select(op_options), :class => "form-control")
.form-group
  = date_field_tag @query_field.name, '', {class: 'form-control'}

:javascript
  $(function() {
    var query_field_id = #{@query_field.id};

    function updateFilterValue() {
      var filter_value = $('.filter-details-panel[data-field-id=' + query_field_id + '] input').val();
      var filter_op = $('.filter-details-panel[data-field-id=' + query_field_id + '] select[name=op]').val();
      if(filter_value && filter_value !== 0) {
        var filter_details = {
          query_field_id: query_field_id,
          op: filter_op,
          value: filter_value
        };
        _saved_query.setFilterDetails(query_field_id, filter_details);
      } else {
        _saved_query.removeFilterDetails(query_field_id);
      }
    }

    $('.filter-details-panel[data-field-id=' + query_field_id + '] select[name=op], .filter-details-panel[data-field-id=' + query_field_id + '] input').change(function() {
      updateFilterValue();
    });
  });