%ul.nav.nav-pills.nav-justified{style: 'margin-bottom: 20px;'}
  %li{class: (is_new_query ? "active" : "")}
    = link_to "Query Interface", new_saved_query_url
  %li{class: (!is_new_query ? "active" : "")}
    = link_to "Saved Queries", saved_queries_url
