= render 'header'
%legend.asset-subheader
  .col-sm-12 
    = @query.name
.row.col-sm-6.col-md-4
  = render 'tab_header', is_new_query: true  
.row.col-sm-12
  = render 'search_form'

.modal.fade#form-modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}
