// _asset_search_result_dt_columns.html.haml
%tr{:data => {:action_path => "/inventory/#{object_key}"}}
  %td.left= search_result.object_key
  %td.left= search_result.summary
  %td.left= search_result.search_text