%i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{asset.asset_tag}", :placement => 'left', :content => "#{raw render :partial => 'assets/asset_table_info_popup', :locals => {:asset => asset}}"}}
