.row
  .col-xs-12
    %fieldset
      %legend.panel-legend Asset
      = render partial: "assets/asset_details", locals: {asset: asset}
  .col-xs-12
    %fieldset
      %legend.panel-legend Condition
      = render partial: "assets/asset_condition_details", locals: {asset: asset}
  .col-xs-12
    %fieldset
      %legend.panel-legend Replace
      = render partial: "assets/asset_rehab_details", locals: {asset: asset}
