<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Styles>
<Style ss:ID="Default" ss:Name="Normal">
<Alignment ss:Vertical="Bottom"/>
<Borders/>
<Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
<Interior/>
<NumberFormat/>
<Protection/>
</Style>
<Style ss:ID="s62">
<NumberFormat ss:Format="&quot;$&quot;#,##0"/>
</Style>
</Styles>
<Worksheet ss:Name="Assets">
  <Table>
    <% SystemConfig.transam_module_names.each do |mod| %>
      <%= render :partial => "assets/#{mod}_asset_dt_head_format" rescue nil %>
    <% end %>

    <Row>
      <% SystemConfig.transam_module_names.each do |mod| %>
        <%= render :partial => "assets/#{mod}_asset_dt_head" rescue nil %>
      <% end %>
    </Row>


    <% @assets.each do |a| %>
      <Row>
        <% SystemConfig.transam_module_names.each do |mod| %>
          <%= render :partial => "assets/#{mod}_asset_dt_columns", :locals => {:a => a } rescue nil %>
        <% end %>
      </Row>
    <% end %>
  </Table>
</Worksheet>
</Workbook>
