
<table id="server_datatable" class="table table-condensed table-striped table-hover table-bordered" width="100%">
	<thead>
		<tr>
			<th class="center" colspan="1">Hidden</th>
			<th class="center" colspan="6">Asset</th>
			<th class="center" colspan="6">Condition</th>
			<th class="center" colspan="3">Replacement</th>
		</tr>
		<tr>
			<th class="center">Url</th>
			<th class="center">Agcy</th>
			<th class="center">Type</th>
			<th class="center">Tag</th>					
			<th class="center">Description</th>
			<th class="center">Stat</th>
			<th class="center">Cost</th>
			
			<th class="center">Age</th>
			<th class="center">Backlog</th>
			<th class="center">Rating</th>
			<th class="center">Rep.</th>
			<th class="center">Est.</th>
			<th class="center">Value</th>
			

			<th class="center">Cost</th>
			<th class="center">Policy</th>
			<th class="center">Est.</th>
			
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>	

<% columns = [
	{:type => 'html', 	:class => "left"}, 
	{:type => 'string', :class => "left"}, 
	{:type => 'string', :class => "left"}, 
	{:type => 'string', :class => "left nowrap"},
	{:type => 'string', :class => "left"},
	{:type => 'string', :class => "center"},
	{:type => 'numeric', :class => "right"},
	
	{:type => 'numeric', :class => "center"},
	{:type => 'html', :class => "center"},
	{:type => 'numeric', :class => "center"},
	{:type => 'string', :class => "center"},
	{:type => 'string', :class => "center"},
	{:type => 'numeric', :class => "right"},
	
	{:type => 'numeric', :class => "right"},
	{:type => 'date', :class => "center"},
	{:type => 'date', :class => "center"}
	
	] %>
<%= raw datatable(columns, {:table_dom_id => 'server_datatable', :processing => image_tag("ajax-loader.gif"), :ajax_source => inventory_index_path }) %>
