%i.fa.fa-info-circle.text-info.info-popup.popup-details{:data => {:url => summary_info_inventory_path(asset, :format => "js"), :container => 'body', :html => 'true', :placement => 'left', :animation => 'true'}}
