= format_field("In Service Date", format_as_date(asset.in_service_date))
= format_field("Age", pluralize(asset.age, "yr"))
= format_field("Condition", asset.reported_condition_type.nil? ? 'Unknown' : asset.reported_condition_type )
