<table id="server_datatable" class="table table-hover" width="100%">
	<thead>
		<tr>
			<th class="center">Url</th>
			<th class="center">Agcy</th>
			<th class="center">Type</th>
			<th class="center">Tag</th>					
			<th class="center">Description</th>
			<th class="center">Stat</th>
			<th class="center">Cost</th>
			
			<th class="center">Age</th>
			<th class="center">Backlog</th>
			<th class="center">Rating</th>
			<th class="center">Rep.</th>
			<th class="center">Est.</th>
			<th class="center">Value</th>
			

			<th class="center">Cost</th>
			<th class="center">Policy</th>
			<th class="center">Est.</th>
			<th class="center"></th>
			
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>	

<% 
columns = [
	{:type => 'html', 	:class => "left", :visible => "false"}, 
	{:type => 'string', :class => "left"}, 
	{:type => 'string', :class => "left"}, 
	{:type => 'string', :class => "left nowrap"},
	{:type => 'string', :class => "left"},
	{:type => 'string', :class => "center"},
	{:type => 'numeric', :class => "right", :visible => "false"}, 
	
	{:type => 'numeric', :class => "center"},
	{:type => 'html', :class => "center"},
	{:type => 'numeric', :class => "center", :visible => "false"}, 
	{:type => 'string', :class => "center"},
	{:type => 'string', :class => "center"},
	{:type => 'numeric', :class => "right", :visible => "false"}, 
	
	{:type => 'numeric', :class => "right"},
	{:type => 'string', :class => "center"},
	{:type => 'date', :class => "center", :visible => "false"}, 
	{:type => 'string', :class => "center"}
	
]
options = {
	:table_dom_id => 'server_datatable', 
	:per_page => "'#{current_user.num_table_rows}'", 
	:processing => image_tag("ajax-loader.gif"), 
	:ajax_source => inventory_index_path,
	:persist_state => 'true'
} 
%>

<%= raw datatable(columns, options) %>
