%th.center{:data => {:field => "quantity", :align => 'right', :sortable => 'true',  :searchable => 'false', :formatter => 'integer_formatter'}} Quantity
%th.center{:data => {:field => "quantity_units", :align => 'center', :sortable => 'false',  :searchable => 'false', :formatter => 'integer_formatter'}} Units
