%th.center.nowrap{:data => {:field => "object_key", :align => 'left', :visible => 'false'}} Object Key
%th.center{:data => {:field => "asset_type_id", :sort_name => 'asset_type_id', :sortable => 'true', :align => 'left', :visible => 'false'}} Asset Type
%th.center{:data => {:field => "external_id", :align => 'left', :visible => 'false', :sortable => 'true'}} External Id

- if @organization_list.count > 1
  %th.center.nowrap{:data => {:field => "organization_id", :sortable => 'true', :searchable => 'true'}} Agency
- else
  %th.center.nowrap{:data => {:field => "organization_id", :sortable => 'true',  :searchable => 'true', :visible => 'false'}} Agency

%th.center{:data => {:field => "asset_subtype_id", :sort_name => 'asset_subtype_id', :align => 'left', :sortable => 'true', :searchable => 'true'}} Type
%th.center.nowrap{:data => {:field => "asset_tag", :align => 'left', :sortable => 'true',  :searchable => 'true'}} Asset Tag

%th.center{:data => {:field => "manufacturer_id", :sort_name => 'manufacturer_id', :sortable => 'true',  :align => 'left', :visible => 'false'}} Manufacturer

%th.center{:data => {:field => "description", :align => 'left', :sortable => 'true', :searchable => 'false'}} Description
%th.center{:data => {:field => "parent_id", :sort_name => 'parent_id', :align => 'left', :sortable => 'true',  :searchable => 'true'}} Parent
%th.center{:data => {:field => "location_id", :sort_name => 'location_id', :align => 'left', :sortable => 'true',  :searchable => 'true'}} Location
%th.center{:data => {:field => "service_status_type_id", :sort_name => 'service_status_type_id', :align => 'center', :sortable => 'true',  :searchable => 'true'}} Status
%th.center{:data => {:field => "age",  :sort_name => 'in_service_date', :align => 'right', :sortable => 'false',  :searchable => 'true'}} Age
%th.center{:data => {:field => "reported_condition_rating", :align => 'center',  :sortable => 'true',  :searchable => 'true'}} Condition
%th.center.nowrap{:data => {:field => "scheduled_rehabilitation_year", :align => 'center', :sortable => 'true',  :searchable => 'true'}} Rehab
%th.center.nowrap{:data => {:field => "scheduled_replacement_year",  :align => 'center', :sortable => 'true',  :searchable => 'true'}} Replace

%th.center{:data => {:field => "purchased_new", :align => 'center',  :sortable => 'true', :visible => 'false', :formatter => 'boolean_formatter'}} Purchased New
%th.center{:data => {:field => "purchase_cost", :align => 'right',  :sortable => 'true', :visible => 'false', :formatter => 'currency_formatter'}} Cost
%th.center{:data => {:field => "purchase_date", :align => 'right',  :sortable => 'true', :visible => 'false', :formatter => 'date_formatter'}} Purchase Date
%th.center{:data => {:field => "warranty_date", :align => 'right',  :sortable => 'true', :visible => 'false', :formatter => 'date_formatter'}} Warranty Date
%th.center{:data => {:field => "in_service_date", :align => 'right',  :sortable => 'true', :visible => 'false', :formatter => 'date_formatter'}} In Service Date
%th.center{:data => {:field => "disposition_date", :align => 'right',  :sortable => 'true', :visible => 'false', :formatter => 'date_formatter'}} Disposal Date

%th.center{:data => {:field => "vendor_id", :sort_name => 'vendor_id', :align => 'left', :sortable => 'true',  :searchable => 'true'}} Vendor
