%th.center.nowrap{:data => {:field => "object_key", :align => 'left', :visible => 'false'}} Object Key
%th.center{:data => {:field => "asset_type", :align => 'left', :visible => 'false'}} Asset Type
%th.center{:data => {:field => "external_id", :align => 'left', :visible => 'false'}} External Id

- if @organization_list.count > 1
  %th.center.nowrap{:data => {:field => "org", :sortable => 'true',  :searchable => 'true'}} Agency
- else
  %th.center.nowrap{:data => {:field => "org", :visible => 'false', :sortable => 'true',  :searchable => 'true'}} Agency

%th.center{:data => {:field => "asset_subtype", :align => 'left', :sortable => 'true', :searchable => 'true'}} Type
%th.center.nowrap{:data => {:field => "asset_tag", :align => 'left', :sortable => 'true',  :searchable => 'true'}} Asset Tag

%th.center{:data => {:field => "manufacturer", :align => 'left', :visible => 'false'}} Manufacturer

%th.center{:data => {:field => "description", :align => 'left', :sortable => 'false', :searchable => 'false'}} Description
%th.center{:data => {:field => "parent", :align => 'left', :sortable => 'true',  :searchable => 'true'}} Parent
%th.center{:data => {:field => "service_status", :align => 'center', :sortable => 'true',  :searchable => 'true'}} Status
%th.center{:data => {:field => "age",  :align => 'right', :sortable => 'true',  :searchable => 'true'}} Age
%th.center{:data => {:field => "condition_rating", :align => 'center',  :sortable => 'true',  :searchable => 'true'}} Condition
%th.center.nowrap{:data => {:field => "scheduled_rehabilitation_year", :align => 'center', :sortable => 'true',  :searchable => 'true'}} Rehab
%th.center.nowrap{:data => {:field => "scheduled_replacement_year",  :align => 'center', :sortable => 'true',  :searchable => 'true'}} Replace

%th.center{:data => {:field => "purchased_new", :align => 'center', :visible => 'false', :formatter => 'boolean_formatter'}} Purchased New
%th.center{:data => {:field => "purchase_cost", :align => 'right', :visible => 'false', :formatter => 'currency_formatter'}} Cost
%th.center{:data => {:field => "purchase_date", :align => 'right', :visible => 'false', :formatter => 'date_formatter'}} Purchase Date
%th.center{:data => {:field => "in_service_date", :align => 'right', :visible => 'false', :formatter => 'date_formatter'}} In Service Date
