%th.left Agency
%th.left Type
%th.left Asset Tag
%th.left External ID
%th.left Description

%th.left Location
%th.right In Service
%th.right Age
%th.center Condition
%th.center Status

%th.center Rehab
%th.center Replace