= render partial: "assets/asset_details", locals: {asset: asset}

= render partial: "assets/asset_condition_details", locals: {asset:asset}

= render partial: "assets/asset_rehab_details", locals: {asset:asset}
