- if @organization_list.count > 1
  .btn-group{:style => 'margin-left: 0!important;'}
    %button.btn.btn-default.dropdown-toggle{:data => {:toggle => 'dropdown'}, :aria => {:exapanded => 'false'}}
      Agency
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      %li
        = link_to "All agencies", inventory_index_path(:org_id => 0, :asset_type => @asset_type, :asset_subtype => @asset_subtype, :asset_group => @asset_group, :manufacturer_id => @manufacturer_id)
      %li.divider
      - Organization.where('id IN (?)', @organization_list).each do |org|
        %li
          = link_to org.coded_name, inventory_index_path(:org_id => org.id, :asset_type => @asset_type, :asset_subtype => @asset_subtype, :asset_group => @asset_group, :manufacturer_id => @manufacturer_id)
