- if @organization_list.count > 1
  %th.left Agency
%th.left Type
%th.left Asset Tag
%th.left Description

%th.left Parent
%th.right In Service
%th.right Age
%th.center Condition
%th.center Status

%th.center Rehab
%th.center Replace
