- if can? :update, @asset
  .pull-right{style: 'padding-bottom: 5px; margin-top: -10px;'}
    %button.btn.btn-primary.edit-asset-button
      Edit
    .edit-buttons{style: 'display: none;'}
      %button.btn.btn-primary.save-asset-button
        Save
      %button.btn.btn-primary.cancel-asset-button
        Cancel