<div class="row">
	<div id="results" class="col-md-6">
		<%= render :partial => 'asset_map_server_datatable', :locals => {:assets => @assets} %>
	</div>
	<div class="col-md-6">
		<%= LeafletMap({ :mapid => 'lmap', :markers => @markers, :tile_provider => get_map_tile_provider, :min_zoom => 10, :max_zoom => 18, :class => "map", :style => "height:600px;" }) %>
	</div>
</div>

<%= yield :scripts %>

<script type="text/javascript" charset="utf-8">
  // Install a hover event handler for my places. When hovering,
  // the map icon is panned to and the popup shown
  $('.place-select').hover(function() {
    var id = $(this).data('id');
    selectMarkerById(id);
  });


	var locationFilter = new L.LocationFilter().addTo(LMmap);
	var url = '<%= spatial_filter_inventory_index_path %>';
  	
  	// Apply the spatial filter
  	function update_selection(new_bounds) {
		var bbox = null;
		if (new_bounds) {
			bbox = new_bounds.toBBoxString();
			LMmap.fitBounds(new_bounds, {padding: []})
		}
  		var data = {spatial_filter: bbox}
		$.ajax({
	    	type: 'get',
	      	url: url,
	      	data: data,
	      	beforeSend:function(){
	        	// this is where we append a loading image
	    		// $('#results').html('<div class="loading"><img src="/assets/ajax-loader.gif" alt="Loading..." /></div>');
	  		},
	  		success:function(data){
	  			// Reset the pagination
	  			$('#server_datatable').fnPageChange(0);
			},
			error: function (data) {
	      		show_alert("We are sorry but something went wrong. Please try again.");                
	      	}
	   	});  
  		
  	}

	// Change the spatial filter
	locationFilter.on("change", function (e) {
		var new_bounds = e.bounds;
		update_selection(new_bounds);
	});

	// Enable the spatial filter	
	locationFilter.on("enabled", function () {
	});
	
	// Disable the spatial filter
	locationFilter.on("disabled", function () {
	    update_selection(null);
	});  

</script>
