:ruby
  table_dom_id = SecureRandom.hex

#processing-photo{style: 'display:none;'}
  = render :partial => 'shared/running_process', :locals => {:message => "Uploading photo. This process might take a while."}
#photos
  .row
    .col-md-12
      = render :partial => 'shared/images', :locals => {:imagable => @asset.transam_asset}


  - if can? :create, @asset.images.build
    = link_to new_inventory_image_path(@asset, form_view: 'assets/photo_form'), :remote => true, :class => "btn btn-primary btn-lg" do
      %i.fa.fa-plus
      New Photo
