:plain
  $("##{@dependent_subform_target}").html("#{escape_javascript(render @dependent_subform_view)}");
  $('.editable-field.combodate').editable({
    template: 'MMM D YYYY',
    viewformat: 'MM/DD/YYYY',
    combodate: {
      maxYear: (new Date()).getFullYear(),
      minYear: 1900
    }
  });

  $('.editable-field').editable({});
  var disabled = "#{cannot?(:update, @asset) ? 'disable' : ''}";
  if (disabled.length > 0) {$('.editable-field').editable(disabled);}
  $('.not-editable-field').editable('disable');
