.row
  .col-md-12
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-4
            %h3.panel-title
              %i.fa.fa-list
              Inventory
          .col-md-8
            = render 'index_actions'
      .panel-body
        - if @assets.empty?
          %p No matching assets found
        - else    
          = render 'table_index'


