.row
  .col-md-3
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-6
            %h3.panel-title
              %i.fa.fa-list
              Asset
          .col-md-6
            = render 'actions'
      .panel-body    
        = render 'summary'
        
  .col-md-9
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %span.pull-right.text-muted
              %h3.panel-title= @asset.object_key
            %h3.panel-title
              %i.fa.fa-folder-open
              Details
                
      .panel-body
        = render 'details'
        
:javascript
  
  $(document).ready(function() {            
    transam.make_same_height('.header-part');    
  });
