.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-6
            %h3.panel-title
              %i.fa{:class => get_tag_icon(@asset), :data => {:id => @asset.object_key}}
              = @asset
          .col-sm-6
            = render 'actions'
      .panel-body
        = render :partial => 'summary', :locals => {:project => @project}

  .col-sm-12.col-lg-9
    = render 'details'
