%table.table.table-hover#assets_datatable
  %thead
    %tr
      %th Object Key
      %th Description
      %th Search Text
      
  %tbody
    - @keyword_search_results.each do |search_result|
      - result_type = search_result.object_class.to_s.underscore
      = render :partial => "#{result_type.pluralize}/#{result_type}_search_result_dt_columns", :locals => {:search_result => search_result }
                
= render :partial => 'shared/datatable_javascript', :locals => {:id => 'search_results_datatable'}