.col-lg-8.col-md-8.col-sm-10.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-1

  = render 'dashboards/search'

  %fieldset
    %legend.panel-legend= "#{@num_rows} found."

    .table-responsive
      %table{:id => "search_results_table",
        :data => {:toggle => 'table',
        :classes => 'table table-hover table-no-bordered',
        :url => keyword_searches_path(:format => :json),
        :card_view => 'false',
        :show_refresh => 'true',
        :pagination => 'true',
        :side_pagination => 'server',
        :show_pagination_switch => 'true',
        :page_list => "[5, 10, 20, 50, 100, 200]",
        :page_size => current_user.num_table_rows,
        :search => 'false',
        :resizable => 'true',
        :show_header => 'false',
        :query_params => 'query_params'}}
        %thead
          %tr
            %th.center{:data => {:field => "content", :title => "Search Results", :align => 'left'}}

:javascript

  function query_params(params) {
    params.search_text = '#{@search_text}';
    console.log(JSON.stringify(params));
    return params;
  };

  $(window).resize(function() {
    $('#search_results_table').bootstrapTable('resetView');
  });
