.col-lg-8.col-md-10.col-sm-12.col-xs-12.col-lg-offset-2.col-md-offset-1

  .page-header
    .h2 Keyword Search

  = render 'keyword_search_form'

  %fieldset
    %legend.panel-legend= "#{@num_rows} found."

    .table-responsive
      %table{:id => "search_results_table",
        :data => {:toggle => 'table',
        :classes => 'table table-hover table-no-bordered',
        :url => keyword_searches_path(:format => :json),
        :card_view => 'false',
        :pagination => 'true',
        :side_pagination => 'server',
        :show_pagination_switch => 'true',
        :page_list => "[5, 10, 20, 50, 100, 200]",
        :page_size => current_user.num_table_rows,
        :search => 'false',
        :resizable => 'true',
        :show_header => 'false',
        :query_params => 'query_params',
        :state_save => 'true',
        :state_save_id_table => "keyword_search_id",
        :state_save_expire => "1y"}}
        %thead
          %tr
            %th.center{:data => {:field => "content", :title => "Search Results", :align => 'left'}}

:javascript

  var search_text = '#{@search_text}';
  var search_pattern = new RegExp(search_text, 'gi');

  function query_params(params) {
    params.search_text = search_text;
    //console.log(JSON.stringify(params));
    return params;
  };

  // After loading the table, mark any highlightd text
  $('#search_results_table').on('post-body.bs.table', function() {
    $('.search-results-text').each(function() {
      var text = $(this).text();
      //console.log(text);
      var text = text.replace(search_pattern, "<mark>" + search_text + "</mark>");
      $(this).html(text);
    });
  });

  $(window).resize(function() {
    $('#search_results_table').bootstrapTable('resetView');
  });
