<%= render 'search_subnav' %>

<%= render 'search_form' %>
 
<div class="row" style="margin-top:20px;">
  <div id="asset_table" class="col-md-12"></div>
  <div id="spinner" class="col-md-12">
    <%= image_tag("ajax-loader.gif") %>
  </div>
</div>

<%= render 'scripts' %>
