<%= render 'search_subnav' %>

<%= render 'search_form' %>

<div id="asset_table">
<% if @assets.count > 0 %>
	<%= render '/assets/asset_datatable' %>
<% end %>	
</div>

<%= render 'shared/datatable_javascript' %>
