= render @searcher.form_view

.row{:style => 'margin-top: 20px;'}
  .col-md-12
    #results_table
    #spinner{:style => 'padding: 20px;'}= loader_panel_tag({:message => "Searching...", :size => 3, :spinner => "refresh"})

= render 'scripts'
