<% if @assets.count > 0 %>
	$('#asset_table').html(" <%= escape_javascript(render '/assets/asset_table') %>");
	transam.render_data_table("datatable", false);
<% else %>
	$('#asset_table').html("<p>No matching assets found.</p>");
<% end %>	
