= render :partial => 'organizations/index_table', :locals => {:organizations => @user_organization_filter.query_string.present? ? TransitOperator.find_by_sql(@user_organization_filter.query_string) : @user_organization_filter.organizations, :show_actions => 0}
