:ruby
  activities = Activity.where("show_in_dashboard = ? AND organization_type_id IN (?)", true, [0, @organization.organization_type.id])

%fieldeset
  %legend Activities

  .panel.panel-default
    - if activities.empty?
      .panel-body
        %p= "No upcoming activities."
    - else
      %ul.list-group
        - activities.each do |act|
          = render :partial => "activities/activity_detail", locals: {:activity => act}
