:ruby
  activities = Activity.where("organization_type_id IN (?)", [0, @organization.organization_type.id])
  
.panel.panel-primary{:style => "height: 200px;overflow-y: auto;"}
  .panel-heading 
    .pull-right
      %span.badge= activities.count
    Activities
  - if activities.empty?
    .panel-body
      %p= "No activities"
  - else
    %ul.list-group.media-list
      - activities.each do |act|
        = render :partial => 'activity_repeater', :locals => {:activity => act}
