- level ||= 'subtype'

%table.table.table-hover.table-condensed{style: 'width:100%;'}
  %thead
    %trassets-widget
      %th.left.nowrap{:data => {:sortable => 'true'}}= level == 'type' ? 'Type' : 'Subtype'
      %th.left.nowrap{:data => {:sortable => 'true'}} Avg. Age
      %th.left.nowrap{:data => {:sortable => 'true'}} Count
      %th.left.nowrap{:data => {:sortable => 'true'}} Cost
      %th.left.nowrap{:data => {:sortable => 'true'}} Book Value

  %tbody
    = render partial: 'dashboards/assets_widget_table_rows', locals: {results: results, level: level}