.panel.panel-default.dashboard-panel
  .panel-heading
    Asset Summary
    .pull-right
      = select_tag(:asset_summary_type, options_for_select(AssetType.all.map{|a| [ a.to_s, a.id ] }, :selected => params[:asset_summary_type]), :prompt => 'All', :class => "form-control", :style => 'margin-top: -5px;')
  #assets-widget.panel-body

:javascript

  $('#asset_summary_type').change(function() {
    update_assets_widget();
  });

  function update_assets_widget () {
    $.ajax({
      url: "/inventory/get_summary",
      type: 'GET',
      dataType: 'json',
      data: {asset_type_id: $('#asset_summary_type').val()},
      complete: function(response, status) {
        if (response.status == 200) {
          $('#assets-widget').html(response.responseText);
        } else {
          $('#assets-widget').html(response.statusText);
        }
      }
    });
  }
