.row
  .col-md-12.col-sm-12
    .page-header{:style => 'margin-top: -20px;'}
      %h1 Dashboard
.row
  .col-md-10.col-sm-10
    - SystemConfig.transam_module_names.each do |mod|
      = render :partial => "dashboards/#{mod}_dashboard_widgets" rescue nil

= render 'index_scripts'
