.panel.panel-default.autoscroll-sm
  - if messages.empty?
    .panel-body
      %p= "No messages."
  - else
    %ul.list-group
      - messages.each do |msg|
        = render :partial => 'messages/message_detail', :locals => {:msg => msg, :filter => filter}
