:ruby
  messages = Message.where("to_user_id = ? AND opened_at IS NULL", current_user.id).order("created_at DESC")

.col-md-4.col-sm-4
  .panel.panel-default{:style => "height: 200px;overflow-y: auto;"}
    .panel-heading
      .pull-right
        %span.badge= messages.count
      New Messages
    - if messages.empty?
      .panel-body
        %p= "No new messages"
    - else
      %ul.list-group.media-list
        - messages.each do |msg|
          = render :partial => 'message_repeater', :locals => {:message => msg}
