= link_to "#", :class => 'list-group-item' do
  %i.fa.fa-2x.pull-left.media-object{:class => notice.notice_type.display_icon}
  .media-body
    %h4.media-heading{:class => notice.notice_type.display_class}= notice.subject
    %p= notice.summary.html_safe
