:ruby
  notices = Notice.active_for_organizations(@organization_list).order(:display_datetime)

%fieldeset
  %legend My Notices

  .panel.panel-default
    - if notices.empty?
      .panel-body
        %p= "No notices."
    - else
      %ul.list-group
        - notices.each do |n|
          = render :partial => "shared/notice_detail", locals: {:notice => n}


:javascript
  $("a[data-toggle='popover']").popover();
