:ruby
  notices = Notice.active_for_organization(@organization).order(:display_datetime)
  
.panel.panel-primary{:style => "height: 200px;overflow-y: auto;"}
  .panel-heading 
    .pull-right
      %span.badge= notices.count
    Notices
  - if notices.empty?
    .panel-body
      %p= "No notices"
  - else
    %ul.list-group.media-list
      - notices.each do |notice|
        = render :partial => 'notice_repeater', :locals => {:notice => notice}
