.panel.panel-default.autoscroll-sm
  - if tasks.empty?
    .panel-body
      %p= "No tasks."
  - else
    %ul.list-group
      - tasks.each do |task|
        = render :partial => 'tasks/task_detail_compact', :locals => {:task => task}
