:ruby
  target ||= ''

= link_to action_path, :title => title, :target => target do
  %i.fa{:class => icon, :style => 'border: 2px solid; border-radius: 50%; padding: 8px; text-align: center;margin-top: -10px;'}
