@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,600,600i,700&display=swap&subset=latin-ext");

:root {
    --white: #fff;

    --blue-base: #18406E; /*// replaces #18406E and close matches*/
    --blue-dark: #0E2744;
    --blue-dark-desaturated: #3E5269;
    --blue-medium: #3762A1;
    --blue-light: #5B8EDC;
    --blue-lighter: #C3DBFF;

    /*// grays*/
    --gray-base: #7F849B;

    --gray-darker: #0E1824;
    --gray-dark: #474C5E;
    --gray-medium: #BBBFCE;
    --gray-light: #E8EAF2;
    --gray-lighter: #F6F8FF;

    --gray-medium-dark: #9DA1B5;
    --gray-medium-light: #CDD0DC;

    --black: var(--gray-darker); /*// replaces #000000*/

    /*// secondary colors*/
    --turquoise: #56C6DE;
    --gold: #E3A62E;
    --red: #E44B54;
    --green: #0ABF94;

    --turquoise-light: #BCEFFF;
    --turquoise-dark: #039CCD;
    --gold-light: #FFF1D6;
    --red-light: #FFCFBF;
    --green-light: #DBF3DD;
}

.library-table {
    background-color: var(--gray-light);
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    -webkit-transition: max-height .25s ease-in-out;
    -moz-transition: max-height .25s ease-in-out;
    -o-transition: max-height .25s ease-in-out;
    transition: max-height .25s ease-in-out;
    overflow: hidden;
}

.elbat {
    background-color: var(--white);
    margin: 12px 0px;
    box-shadow: 0 0 0 1px var(--gray-medium-light);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.col-item {
}

.header-checkbox, .cell-checkbox {
    border-left: 1px solid var(--gray-medium-light);
    background-color: var(--white);
    padding: .375rem .25rem;
    text-align: center;
    position: relative;
}

.header-checkbox {
    padding: 0 !important;
}

.cell-checkbox {
    border-top: 1px solid var(--gray-medium-light);
    background-clip: padding-box; /* Firefox Bug */
}

.fa-stack {
    font-size: 1.25em; /* 16px */
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    color: var(--white);
    height: 0.75em !important;
    line-height: 1em !important;
    /* note for some reason sass wouldn't compile the second line correctly without interpolating the color variable, i assume because it's not a normal css property.
    // more info on styling duotone icons here https://fontawesome.com/how-to-use/on-the-web/styling/duotone-icons */
    --fa-secondary-opacity: 1.0;
    --fa-secondary-color: var(--gray-medium-light);

}

.fa-stack:hover {
    --fa-secondary-color: var(--gray-medium);

}

.fa-stack .fa-check-square {
    opacity: 0;
    color: var(--turquoise);
}
.fa-stack .fa-check-square input[type='checkbox'] {
    opacity: 0;
}

.cell-checkbox input[type='checkbox']:checked + .fa-stack .fa-check-square, .header-checkbox input[type='checkbox']:checked + .fa-stack .fa-check-square {
    opacity: 1;
}

.row-checked td {
    border-left: none;
    box-shadow: 0px 0px 10px 5px var(--gray-light);
    clip-path: inset(0px 0px -10px 0px);
    -webkit-clip-path: inset(0px 0px -10px 0px);
    z-index: 999;
}

.cell-checkbox input, .header-checkbox input {
    opacity: 0;
    display: none;
}

.cell-checkbox label {
    display: block;
    max-width: unset;
    font-weight: 700;
    height: unset;
}



.header-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.1;
    vertical-align: bottom;
    background-color: var(--gray-lighter);
    border-left: solid var(--gray-medium-light) 1px;
    max-width: 16em;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    background-clip: padding-box; /* Firefox Bug */
}

.header-item:hover {
    overflow: visible;
}

.header-text {
    font-size: .865em; /* 12px */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    padding: .375em;
}

.header-text:hover {
    z-index: 100;
    width: auto;
    /*border-right: 1px solid ;*/
    box-shadow: 0 0 0 1px var(--gray-medium-light);
    background: -webkit-gradient(linear, left top, right top, from(var(--gray-lighter)), to(var(--white)));
    background: -webkit-linear-gradient(left, var(--gray-lighter) 0%, var(--white) 100%);
    background: -o-linear-gradient(left, var(--gray-lighter) 0%, var(--white) 100%);
    background: linear-gradient(90deg, var(--gray-lighter) 0%, var(--white) 100%);
    overflow: visible;
}

.header-item:first-child {
    border-left: none;
    border-top-left-radius: .5em;
}

.header-item:last-child {
    border-top-right-radius: .5em;
}

.table-row:hover .row-item .cell-text,
.table-row:hover .cell-checkbox,
.table-row:hover .cell-checkbox input,
.table-row:hover .row-item {
    background-color: var(--gray-light);
}

.row-item {
    border-top: 1px solid var(--gray-medium-light);
    border-left: 1px solid var(--gray-medium-light);
    padding: 1.375rem 1.5rem;
    text-align: left;
    letter-spacing: .03em;
    white-space: nowrap;
    background-color: var(--white);
    -webkit-transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    max-width: 16em;
    font-size: .925em;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background-clip: padding-box; /* Firefox Bug */
}

.row-item:hover {
    overflow: visible;
}

.cell-text {
    padding: .375rem .5rem;
    width: -webkit-fill-available;
    width: -moz-available;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    background: #fff;
/* box-sizing: border-box; */

}

.cell-text:hover {
    z-index: 100;
    width: auto;
    /*border-right: 1px solid ;*/
    box-shadow: 0 0 0 1px var(--gray-medium-light);
    background: -webkit-gradient(linear, left top, right top, from(var(--gray-light)), to(var(--gray-lighter)));
    background: -webkit-linear-gradient(left, var(--gray-light) 0%, var(--gray-lighter) 100%);
    background: -o-linear-gradient(left, var(--gray-light) 0%, var(--gray-lighter) 100%);
    background: linear-gradient(90deg, var(--gray-light) 0%, var(--gray-lighter) 100%);
    overflow: visible;
}

.table-row .cell-checkbox:first-child {
    border-left: none;
}

.table-row:last-child .cell-checkbox:first-child {
    border-bottom-left-radius: .5em;
}

.table-row:last-child td:last-child {
    border-bottom-right-radius: .5em;
}

.table-row {
    display:none;
}

.page-select-wrapper {
    display: flex;
}

.page-select {
    display: flex;
}

.page-select-arrow-left, .page-select-arrow-right {
    display:flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    padding: .25em .5em;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.page-select-item {
    padding: .25em .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

/*.page-select-item:nth-child(1)::after {*/
    /*content: '...';*/
    /*padding: .5em .25em;*/
/*}*/
/*.page-select-item:last-child::before {*/
    /*content: '...';*/
    /*padding: .5em .25em;*/
/*}*/




.page-select-item:hover, .page-select-arrow-left:hover, .page-select-arrow-right:hover {
    background: #FFFFFF;
}

.page-selected {
    background: #FFFFFF;
    font-weight: bold;
}

.table-ellipses {
    padding: .5em .25em;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
}

.size-select, .page-status, .page-selected {
    float: left;
}

.page-size-dropdown {
    width: 1.5em;
    color: var(--white);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    border: none;
    box-shadow: none;
    border-radius: 0.25em;
    background: #7f849b;
    -ms-text-align-last: center;
    text-align-last: center;
    margin-left: 0.375em;
}







/* THEMES */

.drilldown-link {
    color: var(--blue-light);
}

.drilldown-link::after {
    content: '\f3be';
    transition: top .125s ease-in-out;
    top: 0;
}

.drilldown-link:hover{
    color: var(--turquoise-dark);
}

.drilldown-link::after:hover {
    top: .175em
}
