/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require bootstrap-editable
 *= require jquery-ui
 *= require selectize
 *= require selectize.default
 *= require_self
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.radio-buttons-inline > label {
  display: block; width: 100%
}
.radio-buttons-inline .radio {
  display: inline-block; margin-top: 0
}
.radio-buttons-inline .radio:not(:first-of-type) {
  margin-left: 1em;
}

// make selectize input look like form-control
.selectize-input {
  background-color: #FFFFEE;
}

.selectize-input.required.invalid {
  max-height: 40px;
  overflow: visible;
}

.selectize-input.required label.error {
  position: relative;
  top: 30px;
  right: 14px;
}
