- unless @org.assets.empty?
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      = "Asset Summary"

%li
  %a{:href => "#users", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      Staff
      %span.badge= @org.users.count

