= form_tag organizations_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  .form-group
    = select_tag(:organization_type_id, options_for_select(OrganizationType.all.collect{|a| [a.name, a.id]}, :selected => @organization_type_id), :class => "form-control", :style => "width: 100px;", :prompt => "Any Organization Type...")

:javascript
  $(document).ready(function() {

    $('#organization_type_id').change(function() {
      $('#filter_form').submit();
    });

  })
