.row
  .col-md-12
    = format_field("Services", format_as_list(@org.service_types ) )
    = format_field("Service Area Type", @org.fta_service_area_type.name )
    = format_field("Service Districts", format_as_list(@org.districts) )
