- # Load module specific details if they exist
- SystemConfig.transam_module_names.each do |mod|
  = render :partial => "organizations/#{mod}_organization_summary", locals: {:org => org} rescue nil
    
