<div class="row-fluid">
	<div class="span12">
		<ul class="thumbnails">
			<% @uploads.each do |upload| %>
				<%= action_thumbnail_tag({:icon => "fa fa-upload", :title => upload.original_filename, :path => upload_path(upload)}) do %>
					<%= content_tag "address" do %>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
