%p
  Use this form to customize and download an asset inventory update template. These templates can be used to
  %ul
    %li Input new inventory into TransAM
    %li Update characteristics of existing inventory
    %li Identify assets that are going to be disposed or re-provisioned in this planning cycle
    
%p
  If you create an <strong>update</strong> or <strong>disposition</strong> template you will be promoted
  to select the type of assets to be included in the template. TransAM will add a row for each asset of 
  the selected type into the template.
  
%p
  After the template has been downloaded, open the template using Microsoft Excel and update the rows. Make
  sure to <strong>save</strong> the template after ypu have finished editing it.
  
%p
  When ready use the Upload function to upload the spreadsheet template to TransAM and the updates will be processed.
  
