%p
  Use this form to customize and download an asset inventory update template. These templates can be used to
  %ul
    %li Update service status. condition, and mileage of existing inventory
    %li Record the last maintenace performed for each asset
    %li Identify assets that are going to be disposed or re-provisioned in this planning cycle

%p
  Once you click <strong>create</strong> a spreadsheet will be generated that you can save to
  your computer. After the template has been downloaded, open the template using Microsoft Excel
  and update the rows. Make sure to <strong>save</strong> the template after you have
  finished editing it.

%p
  When ready use the Upload function to upload the spreadsheet template to TransAM and
  the updates will be processed.
