<%= sub_nav_tag({}) do %>
	<li>
		<%= link_to uploads_path do %>
		<i class="fa fa-folder-open"></i> All Uploads
		<% end %>
	</li>
	<% if @upload && can? :update, @upload %>
		<li>
			<%= link_to resubmit_upload_path(@upload), :confirm => "Are you sure you want to resubmit this file for processing?" do %>
			<i class="fa fa-repeat"></i> Resubmit
			<% end %>
		</li>	
	<% end %>
	
	<% if @upload && can? :delete, @upload %>
	    <li><%= link_to upload_path(@upload), :method => :delete, :data => {:confirm => "Are you sure you want to remove this file?"} do %>
			<i class="fa fa-times"></i> Remove
			<% end %>
		</li>
	<% end %>
<% end %>
