<%= sub_nav_tag({}) do %>
	<li>
		<%= link_to uploads_path do %>
		<i class="fa fa-folder-open"></i> All Uploads
		<% end %>
	</li>
	<% if current_user.has_role? :admin && @upload.can_resubmit? %>
	<li>
		<%= link_to resubmit_upload_path(@upload), :confirm => 'Are you sure you want to re-process this file?' do %>
		<i class="fa fa-repeat"></i> Resubmit
		<% end %>
	</li>
	<% end %>
<% end %>
