%p
  Use this form to upload spreadsheets that you have downloaded from TransAM and completed. The spreadsheets can contain either:
  %ul
    %li Life Cycle Updates for existing inventory
    %li Disposition updates for existing inventory
  
%p
  Make sure to select the right type of content before uploading the file.

- if current_user.has_role? :admin
  %p
    If you force the update, be aware that this might overwrite and change existing data that CANNOT be undone.
  
%p
  Once the file has been uploaded it will be processed by TransAM and the inventory updated which might take a few minutes. You can check the progress
  by clicking on the file name in the table.
  