.row
  .col-md-4
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.fa-list
              Bulk Update Template
      .panel-body    
        = render 'instructions'
        
  .col-md-8
    = render 'templates_form'

= render 'scripts'

