
#processing
  = render :partial => 'shared/running_process', :locals => {:message => @message}

#form
  .row
    .col-md-4
      .panel.panel-default.header-part
        .panel-heading
          .row
            .col-md-12
              %h3.panel-title
                %i.fa.fa-list
                Bulk Update Template
        .panel-body    
          = render 'instructions'
          
    .col-md-8
      = render 'templates_form'

:javascript

  // Document Ready
  $(document).ready(function(){

    transam.make_same_height('.header-part');
  
    // Hide the processing div and show the form
    $('#processing').hide();
    $('#form').show();

    // install a submit handler for the form
    $('#template_form').submit(function() {
      $('#processing').show();
      $('#form').hide();
      return true;
    });

    // Disable the submit button
    $('#submit_button').attr("disabled", "disabled");

  });