:javascript

  var tab_key = 'activity_order_tab_key';

  $(document).ready(function() {

    // Make the tabs responsive if the viewport gets smaller than the displayed tabs
    $('.responsive-tabs').tabdrop({
      text: '<i class="fa fa-align-justify"></i>'
    });

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      transam.set_ui_key_value(tab_key, this_tab);
    });
  });

  $(function() {
    var last_tab = transam.get_ui_key_value(tab_key);
    if (last_tab) {
      $('a[href="'+last_tab+'"]').tab('show');
    } else {
      // Default to the first tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }
  });
