%table.table.table-hover
  %thead
    %tr
      - @data[:table_labels].each do |label|
        %th.right= label
    %tbody
      - @data[:table_data].each do |row|
        %tr
          - row.each do |col|
            %td.right= format_as_general(col, 0)
