<div class="row">
	<% @reports.each do |report| %>
		<%= action_thumbnail_tag({:class => 'col-md-3', :icon => report.report_type.display_icon_name, :title => report.name, :path => report_path(report) }) do %>
			<%= content_tag "p" do %>
				<%= report.description %>
			<% end %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		transam.make_same_height('.thumbnail-content');
		
		$(window).resize(function() {
			transam.make_same_height('.thumbnail-content');
    	});		
	});
		
</script>
