<div class="row-fluid">
	<div class="span12">
		<ul class="thumbnails">	
			<% @reports.each do |report| %>
				<%= action_thumbnail_tag({:class => 'span3', ':icon => report.report_type.display_icon_name, :title => report.name, :path => report_path(report) }) do %>
					<%= content_tag "p" do %>
						<%= report.description %>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		
		transam.fix_thumbnail_margins(3);
		
	)};
	
</script>
    