%table.table.table-hover
  %thead
    %tr
      - @data[:labels][0...-1].each do |label|
        %th.right= label
    %tbody
      - @data[:data].each do |row|
        %tr{:id => "#{row.last}"}
          - row[0...-1].each do |col|
            %td.right= format_as_general(col)


:javascript

  //Redirect the selected row to the issue edit form
  $("tr").click(function() {

    var object_key = $(this).attr('id');
    var path = '#{edit_issue_path("X")}';
    var url = path.replace("X", object_key);
    document.location.href = url;
  });
