.row
  .col-md-3
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.fa-list
              Report
      .panel-body
        = render 'actions'    
        
  .col-md-9
    = render @report_view
