.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = @image.new_record? ? 'Add Photo' : 'Update Photo'
    .modal-body
      = render 'form'
    .modal-footer
      .row
        %button.btn.btn-default{:data => {:dismiss => "modal"}} Cancel