.row
  .col-md-4.text-center
    %span.fa-stack.fa-5x
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-flag.fa-stack-1x.fa-inverse
    %p.lead About TransAM
    %p.content-body TransAM is an open-source asset management platform developed by Cambridge Systematics under a FTA State of Good Repair Grant.
  .col-md-4.text-center
    %span.fa-stack.fa-5x
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-desktop.fa-stack-1x.fa-inverse
    %p.lead System Status
    %p.content-body
      %i.fa.fa-thumbs-up
      System is up and running. There are no scheduled maintenance windows for this application.
  .col-md-4.text-center
    %span.fa-stack.fa-5x
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-info.fa-stack-1x.fa-inverse
    %p.lead Getting Help
    %p.content-body If ypu need help using TransAM contact your Project Coordinator at BPT.