<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1>TransAM Asset Manager</h1>
    <hr></hr>
    <%= :yield %>
    <hr></hr>
    <p>This message is sent on behalf of <bold>PennDOT BPT</bold></p>
    <p><emphasis>This email is sent from an email address that is not monitored. Please do not
        reply to this message.</emphasis></p>
  </body>
</html>

