!!!
%html
  %head
    %meta{:content => content_for?(:description) ? yield(:description) : t(:site_description), :name => "description"}
  %body
    = yield(:header)
    %hr
    = yield
    %hr
    %p= "This message is sent on behalf of #{app_title}"
    %p This email is sent from an email address that is not monitored. Please do not reply to this message.
