!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 TransAM Asset Manager
    %hr/
    = :yield
    %hr/
    %p
      This message is sent on behalf of
      %bold PennDOT BPT
    %p
      %emphasis
        This email is sent from an email address that is not monitored. Please do not
        reply to this message.