:plain
  TransAM Asset Manager
  ===============================================================================

=yield(:head)

=yield

:plain
  ===============================================================================

= "Sent on behalf of #{ENV["APPLICATION_TITLE"] ? ENV["APPLICATION_TITLE"] : 'TransAM Application'}"

:plain
  ===============================================================================
  This email is sent from an email address that is not monitored. Please do not
  reply to this message.
  ===============================================================================