:plain
  TransAM Asset Manager
  ===============================================================================

=yield(:head)

=yield

:plain
  ===============================================================================

= "Sent on behalf of #{app_title}"

:plain
  ===============================================================================
  This email is sent from an email address that is not monitored. Please do not
  reply to this message.
  ===============================================================================