.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = "Add a #{ @rule_type.titleize } Rule"
    .modal-body
      = render "#{@rule_type}_rule_form"
