= form_tag policy_path(@policy), :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  .form-group
    = select_tag(:asset_type, options_for_select(AssetType.all.collect{|a| [a.name, a.id]}, :selected => @asset_type), :class => "form-control", :style => "width: 200px;", :prompt => "Any Asset Type...")


:javascript
  $(document).ready(function() {

    $('#asset_type').change(function() {
      $('#filter_form').submit();
    });
    
  });    