.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
	.page-header
		%h2 Policies

	.row
		.col-sm-12
			- if @policies.empty?
				%p No policies found
			- else
				- @policies.each do |p|
					= action_thumbnail_tag({:class => 'col-sm-4', :icon => "fa fa-book", :title => p.name, :path => policy_path(p)}) do
						= p.description.html_safe
						- if p.active
							%p= "<strong>Current</strong>".html_safe

:javascript

	$(document).ready(function() {
		transam.make_same_height('.thumbnail-content');
	});

	$(window).resize(function() {
		transam.make_same_height('.thumbnail-content');
	});
