<div class="row">
	<div class="col-md-12">
		<ul>
			<% @policies.each do |policy| %>
				<%= action_thumbnail_tag({:class => 'col-md-3', :icon => "fa fa-book", :title => policy.name, :path => policy_path(policy)}) do %>
					<p><%= policy.description %></p>
					<% if policy.current %>
						<p><strong>Current</strong></p>		
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		
		transam.fix_thumbnail_margins(3);
		
	});
		
</script>
