<div class="row">
	<% @policies.each do |policy| %>
		<%= action_thumbnail_tag({:class => 'col-md-3', :icon => "fa fa-book", :title => policy.name, :path => policy_path(policy)}) do %>
			<p><%= policy.description %></p>
			<% if policy.active %>
				<p><strong>Current</strong></p>
			<% end %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		transam.make_same_height('.thumbnail-content');

		$(window).resize(function() {
			transam.make_same_height('.thumbnail-content');
    	});
	});

</script>
