.alert.alert-info.text-center
  <strong>Notice!</strong>
  %br
  %p
    The Policy Runner will apply the current policy to the asset inventory and recalculate scheduled
    costs and replacement dates and identify assets in backlog based on the policy criteria.
  %p
    You can use the list below to select the asset types that will be re-analyzed.
