.alert.alert-warning.text-center
  <strong>Warning!</strong>
  %br
  %p
    Your organization has one or more capital projects. If you made changes to the policy that will affect SOGR replacement and rehabilitation schedules and costs you will need to re-run the SOGR Capital Project Analyzer once the Policy Runner has completed.
