.panel.panel-default.header-part
  .panel-heading
    .row
      .col-md-6
        %h3.panel-title
          %i.fa.fa-folder-open
          Rules
      .col-md-6
        = render 'filter_actions'
            
  .panel-body
    = render 'details'

= render 'scripts'
