%p
  The <strong>Asset Updater</strong> automatically updates the state of your assets to correspond with your current policy.
%p
  The updater will search the selected asset types and update each.
%p
  Each asset will have the following attributes updated
  %ul
    %li Service Status
    %li Reported Condition
    %li Maintenance Provider
    %li Scheduled Rehabilitation
    %li Scheduled Replacement
    %li Scheduled Disposition
    %li Estimated Value 