%ol
  %li
    Select a type of asset to update from the dropdown.
  %li
    Click "Run"  
  %li
    The system will begin to update the selected asset types with the current policy.  This may take some time.