%ol
  %li
    Select any types of asset and/or asset groups you would like to update from the dropdown.
    %p
      %strong If both criteria are used, only assets which meet both will be updated
  %li
    Click "Run"  
  %li
    The system will begin to update the selected asset types with the current policy.  This may take some time.