<%= render 'rules_subnav' %>

<%= render 'policy_item_form'%>

<div class="row-fluid">
	<div class="span12">
		<% if @policy.policy_items.empty? %>
		<div class="alert alert-info">
			This policy does not have any content.
		</div>
		<% else %>
		<%= render(:partial => 'policy_items_table', :locals => {:render_links => true}) %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	fix_thumbnail_margins();

	//enable_date_pickers();

	//make_same_height('.form_part');

	make_same_height('.header_part');

</script>

